<import type='js' file="admin.js.distribution" />
<script type="text/javascript">
	var YM = {
		'save_distribution' : "{:U('save_distribution')}",
		'redirectPath' : "{:U('index')}"
	};
</script>

<h2 class="page-header">
	<a href="{:U('index')}" type="button" class="pull-right btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> 返回列表</a>
	权限分配
</h2>
<form class="form-horizontal" role="form" id="regorg">
	<input type="hidden"  name="level_guid" value="{$Think.get.guid}" />
	<foreach name="authorityList" item="v">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">{$v.name}</label>
			<div class="col-sm-6">
					<input type="text" id="name" name="{$v.guid}" class="form-control"  value="{$v.value}" placeholder="输入{$v.name}">
			</div>
			<div class="col-sm-4 error-wrap"></div>
		</div>
	</foreach>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="button" class="btn btn-default js-submit">保存</button>
		</div>
	</div>
</form>