<!-- 
 * 创建新社员页面
 *
 * CT: 2014-09-18 11:00 by QY
 */
 -->
<import type='css' file="home.css.member-list" />
<import type='css' file="home.css.basic-information" />
<script type="text/javascript">
	var YM = {
		'remove_blacklist' : "{:U('remove_blacklist')}",
		'redirectPath' : "{:U('black_list')}"
	};
</script>


<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '社员管理',
    'list' => array(
        array('url'=>U('Member/index'), 'v'=>'黑名单列表'),
    )
);
?>
    <include file="Public:_breadcrumbs" />


<div class="ymnaw">
    <ul class="nav nav-tabs ymbtn" role="tablist">
        <li role="presentation" class="active"><a href="<?php echo U('Member/index')?>">社员列表</a></li>
        <li role="presentation"><a href="<?php echo U('Member/ogm')?>">分组管理</a></li>
    </ul>
</div>

<!--右侧主体开始-->
<div class="rightmain">
 	<div class="pull-right mt20"><a href="<?php echo U('Member/index')?>"><i class="fa fa-arrow-left"></i> 社员列表</a></div>
    <h4>黑名单列表</h4>
    <div class="mt20">
	  	<table class="table table-bordered">
			<thead>
				<tr>
				  <th>姓名</th>
				  <th>电话</th>
				  <th>邮箱</th>
			      <th>操作</th>
				</tr>
		    </thead>
			<tbody>
				<empty name="black_list">
					<tr>
					  <td colspan="4">暂无任何数据</td>
					</tr>
				<else /> 
					<foreach name="black_list" item="v" >
						<tr>
						  <td>{$v.real_name}</td>
						  <td>{$v.mobile}</td>
						  <td>{$v.email}</td>
						  <td class="text-center"><a class="js-remove" data-guid="{$v.guid}" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a></td>
						</tr>
					</foreach>
				</empty>
			</tbody>
		</table>
		<div class="btn-group mb40">
		  <ul class="pagination pagination-sm">
		  <?php echo ($page); ?>
		  </ul>
		</div>
	</div>
</div>
<!--右侧主体结束-->
<script type="text/javascript">
	$(function(){
		$('body').on('click','.js-remove',function(){
			var guid = $(this).attr('data-guid');
			var data = {guid:guid};
			$.ajax({
				 url:YM['remove_blacklist'],
				 type:'POST',
				 data:data,
				 dataType:'json',
				 success:function(data){
					 if(data.status=='ok'){
						 alertTips($('#tips-modal'),'移除成功',YM['redirectPath']);
					 }else if(data.status=='ko'){
							alertTips($('#tips-modal'),'移除失败');
					 }
				 }
			 });
		})
	})
</script>