<?php
/**
 * 成员管理主页面
 *
 * CT: 2014-09-23 12:00 by YLX
 * UT: 2014-10-30 09:00 by YLX
 */
?>


<import type='css' file="home.css.member-list" />
<import type='css' file="home.css.modal-geren" />


<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '社员管理',
    'list' => array(
        array('url'=>'', 'v'=>'社员列表')
    )
);
?>
<include file="Public:_breadcrumbs" />

<div class="ymnaw">
    <ul class="nav nav-tabs ymbtn" role="tablist">
        <li role="presentation" class="active"><a href="<?php echo U('Member/index')?>">社员列表</a></li>
        <li role="presentation"><a href="<?php echo U('Member/ogm')?>">分组管理</a></li>
    </ul>
</div>

<!--右侧主体开始-->
<div class="rightmain">
    <div class="btn-group width798 pdlf10">
        <div class="pull-left"><h5>当前分组 <?php echo $current_group_name; ?></h5></div>
        <div class="pull-right">
            <a href="{:U('Member/add')}">
                <button type="button" class="btn mybtn"><i class="fa fa-plus"></i> 添加社员</button>
            </a>
        </div>
        <div class="pull-right">
            <a href="{:U('Member/invite')}">
                <button type="button" class="btn mybtn"><i class="fa fa-star"></i> 邀请社员</button>
            </a>
        </div>
        <div class="pull-right">
            <a href="{:U('Member/examine')}">
                <button type="button" class="btn mybtn"><i class="fa fa-user"></i> 审核社员</button>
            </a>
        </div>
        <div class="pull-right">
            <a href="{:U('Member/black_list')}">
                <button type="button" class="btn mybtn"><i class="fa fa-recycle"></i> 黑名单</button>
            </a>
        </div>
    </div>

    <div class="width798 heightlist mt10 mb10">
        <div class="pull-left heightlistsm list-left">

            <div class="tableme44">
                <div class="pull-left  mt9 ml12"><input type="checkbox" id="ckAll"></div>
                <div class="pull-left  mt9 ml12"><p class="blacknm">全部</p></div>

                <div class="dropdown pull-left mt4 ml12">
                    <button class="btn btn-default dropdown-toggle dropdown-mybtn" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        添加到
                        <span class="caret ml12"></span>
                    </button>
                    <ul class="dropdown-menu radius0" role="menu" aria-labelledby="dropdownMenu1">
                        <?php foreach ($group_list as $g): ?>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0);" class="add-to" guid="<?php echo $g['guid']?>"><?php echo $g['name']?></a>
                            </li>
                        <?php endforeach; ?>
                        <!--<li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">黑名单</a></li>-->
                    </ul>
                </div>
                <div class="pull-left mt4 ml12">
                    <?php if (!in_array(I('get.group'), array('all', null, '', 'other'))): ?>
                        <button class="del_u btn btn-default dropdown-mybtn" type="button" id="del_from_group">从该分组移除</button>
                    <?php endif; ?>
                    <!-- <button class="del_u btn btn-default radius0 mr10" type="button" id="del_member">开除该社员</button> -->
                </div>
            </div>

            <?php if(empty($list)): ?>
                <div class="ml30 mt13">该分组下有0位成员.</div>
            <?php else: ?>
                <form id="form1" method="post" action="{:U('Member/ogm_operate')}" style="height: 100%">
                    <input id="batch_act" type="hidden" name="batch_act" value=""/>
                    <input id="group2" type="hidden" name="group2" value="no-guid" />
                    <?php foreach ($list as $u): ?>

                        <div class="tableme59">
                            <div class="pull-left mt10 ml12">
                                <input class="checkbox-u" type="checkbox" name="ckguid[]" value="<?php echo $u['gid'].'|'.$u['uid']?>" />
                                <a href="<?php echo U('Member/member_info', array('guid'=>$u['uid']))?>" style="color: #000;">
                                    <img data-original="<?php echo get_image_path($u['photo'])?>" alt="" class="lazy img45 ml12 photo" id="example<?php echo $u['uid']?>">
                                </a>
                            </div>
                            <!--鼠标经过头像触发-->
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $("#example<?php echo $u['uid']?>").popover({
                                        content: '<div class="portrait-form2 height90">'
                                        +'<div class="pull-left"><h4>详细资料</h4><h5><?php echo $u['real_name'] ?></h5></div>'
                                        +'<div class="pull-right mt10"><img src="<?php echo get_image_path($u['photo'])?>" class="img70"></a></div>'
                                        +'</div>'
                                        +'<div class="myform">'
                                        +'<table class="table"><tbody>'
                                        +'<tr><td class="wh50">公司</td><td class="wh150"><?php echo D('User')->getCompanyNames($u['uid']); ?></td></tr>'
                                        +'<tr><td class="wh50">区域</td><td class="wh150"><?php echo get_full_area($u['areaid_1'], $u['areaid_2']); ?></td></tr>'
                                        +'<tr><td class="wh50">签名</td><td class="wh150"><?php echo $u['remark'] ?></td></tr>'
                                        +'</tbody></table>'
                                        +'</div>',
                                        html: true,
                                        trigger: 'hover'
                                    });
                                });
                            </script>
                            <!--触发结束-->
                            <div class="pull-left mt10 ml12">
                                <a href="<?php echo U('Message/history', array('guid'=>$u['uid']))?>" class="blacknm"><?php echo $u['real_name'] ?></a>
                                <p class="signature"><?php echo $u['remark'] ?></p>
                            </div>
                            <div class="pull-right mt16">
                                <!--<a class="send_msg" href="javascript:void(0);" url="<?php echo U('Message/reply', array('guid'=>$u['uid']))?>">发送消息</a>-->
                                <?php if ($u['is_active'] == '0') : ?>
                                    <!--								<label>激活</label>-->
                                    <!--								--><?php //else : ?>
                                    <label class="color0">未激活</label>
                                <?php endif; ?>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-default radius0 mr10 send_msg" url="<?php echo U('Message/reply', array('to_guid'=>$u['uid']))?>">发送消息</button>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </form>
            <?php endif; ?>
        </div>

        <div class="pull-right list-right">
            <ul class="nav nav-pills nav-stacked right-menu" role="tablist">
                <li role="presentation" class="<?php echo (in_array(I('get.group'), array('all', null, '')))?'active':'' ?>">
                    <a href="<?php echo U('Member/index', array('group'=>'all'))?>">
                        <label>全部成员(<?php echo $num_all?>)</label>
                    </a>
                </li>
                <li role="presentation" class="<?php echo (I('get.group')=='other')?'active':'' ?>">
                    <a href="<?php echo U('Member/index', array('group'=>'other'))?>">
                        <label class="ml12">未分组(<?php echo $num_other?>)</label>
                    </a>
                </li>
                <?php foreach ($group_list as $g): ?>
                    <li role="presentation" class="<?php echo (I('get.group')==$g['guid'])?'active':'' ?>">
                        <a href="<?php echo U('Member/index', array('group'=>$g['guid']))?>">
                            <label class="ml12"><?php echo $g['name'] ?>(<?php echo !empty($group_list_stat[$g['guid']])?$group_list_stat[$g['guid']]:'0'; ?>)</label>
                        </a>
                    </li>
                <?php endforeach; ?>
                <!--<li role="presentation">
                    <a href="#">
                        <label>黑名单(0)</label>
                    </a>
                </li>-->
            </ul>
        </div>
    </div>

    <div class="btn-group mb40">
        <?php echo $page; ?>
    </div>

</div>
<!--右侧主体结束-->

<script type="text/javascript">
    $(document).ready(function(){

        $('#ckAll').on('change', function(){
            $("input.checkbox-u").prop('checked', $(this).prop("checked"));
        });

//	$('#g_name').change(function(){
        $('.add-to').on('click', function(){
            if ($(this).val()!='no')
            {
                //alert($(this).val());
                var len = $('input.checkbox-u:checked').length;
                if (len < 1){ alert('请选择要分组的社员。'); return false; }
                $('#batch_act').val("op");

                $('#group2').val($(this).attr('guid'));
                $('form#form1').submit();
            }
        });

        //批量从该组删除
        $('.del_u').click(function(){
            var len = $('input.checkbox-u:checked').length;
            if (len < 1){ alert('请选择要删除的社员。'); return false; }
            if (confirm('确定要删除所选项吗？')){
                $('#batch_act').val($(this).attr('id'));//增加删除标志位
                $('#group2').val('<?php echo I('get.group') ?>');
                $('form#form1').submit();
            }
        });

        // 发送消息
        $(".send_msg").click(function(){
            $.showBox({
                'src': $(this).attr('url'),
                'width': 680,
                'height': 400,
                // 'data'  : "Say hello to your father",
                'success': function(data){
                    alert(data);
                }
            });
        });
    });
</script>
