<?php
/**
 * 社团成员分组管理页面
 * 
 * CT: 2014-09-23 15:00 by QY
 * UT: 2014-10-29 14:00 by QY
*/
?>
<import type='css' file="home.css.member-list" />

<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '社员管理',
    'list' => array(
        array('url'=>'', 'v'=>'分组管理')
    )
);
?>
<include file="Public:_breadcrumbs" />

    <div class="ymnaw">
        <ul class="nav nav-tabs ymbtn" role="tablist">
            <li role="presentation"><a href="<?php echo U('Member/index')?>">社员列表</a></li>
            <li role="presentation" class="active"><a href="javascript:void(0);">分组管理</a></li>
        </ul>
    </div>

    <!--右侧主体开始-->
    <div class="rightmain">
    	<div class="alert alert-dismissible tips-box" role="alert" style="display:none;">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		  <span class="tips-msg"></span>
		</div>
		
        <div class="btn-group pdlf30">
            <h4>组别：</h4>
            <form id="ogm_form_edit" name='ogm_form_edit' method="post" action="">
                <?php if(!empty($list)): ?>
                    <?php foreach ($list as $l): ?>
                        <include file="Member:ogm_add_field"/>
                    <?php endforeach; ?>
                <?php else: ?>
                    <div class="no-message" id="org_no_group">
                        暂无分组，请点击“添加分组”按钮，为您的社团添加分组
                    </div>
                <?php endif; ?>
            </form>

            <div class="mb40">
                <button type="button" class="btn  btn-default radius0" id="g_add"><i class="fa fa-plus"></i> 添加分组</button>
            </div>
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function(){
	var NUM_ORG_GROUP="{$NUM_ORG_GROUP}"
	$('body').on('click','.js_edit',function(){
		edit_ogm($(this));
	})
	
	/*
	$('body').on('focus','.txt',function(){
		edit_ogm($(this).parents('.input-group').find('.input-group-btn'));
	})
	*/
	
	$('body').on('click','.js_close',function(){
		var group_name = $(this).parents('.input-group').find('.txt').attr('data-name');
		$(this).parents('.form-group').find('.txt').val(group_name).hide();
		$(this).parents('.form-group').find('.txt-wrap').html(group_name).show();
		var html = "<button class='btn btn-default radius0 js_edit' type='button'><i class='glyphicon glyphicon-edit'></i></button>";
			html+= "<button class='btn btn-default radius0 g_del' type='button'><i class='glyphicon glyphicon-trash'></i></button>";
		if(group_name){
			$(this).parents('.input-group-btn').html(html);
		}else{
			$(this).parents('.form-group').remove();
		}
		
	})
	
	$('body').on('click','.js_save',function(){
		var obj = $(this);
		var group_name = $(this).parents('.input-group').find('.txt').val();
		var guid = $(this).parents('.input-group').find('.txt').attr('data-guid');
		var data = {group_name:group_name, guid:guid}
		
		if(group_name == ''){
			tips_info('alert-warning', '分组名称不能为空');
			return false;
		}
		
        $.ajax({
            type: "POST",
            url: "<?php echo U('Member/ogm_save'); ?>",
            data: data,
            dataType: "json",
            beforeSend: function(){
                
            },
            success: function(data){
                if (data.status=='ok') {
                	if(data.attach){
                		obj.parents('.input-group-btn').attr('data-guid',data.attach.guid);
                		obj.parents('.input-group').find('.txt').attr('data-guid',data.attach.guid);
                	}
                	obj.parents('.input-group').find('.txt').attr('data-name',group_name).hide();
                	obj.parents('.input-group').find('.txt-wrap').html(group_name).show();
                	var html = "<button class='btn btn-default radius0 js_edit' type='button'><i class='glyphicon glyphicon-edit'></i></button>";
    				html+= "<button class='btn btn-default radius0 g_del' type='button'><i class='glyphicon glyphicon-trash'></i></button>";
   					obj.parents('.input-group-btn').html(html);
   					tips_info('alert-success', data.msg);
                } else if (data.status=='ko') {
                	tips_info('alert-warning', data.msg);
                }
            }
        });
		
	})
	
	
    $('#g_add').on('click', function(){
    	if($('.form-group').size() > NUM_ORG_GROUP){
    		tips_info('alert-warning', '社团分组数量不得超过限制');
    		return false;
    	}
    	
   	 	html = '<div class="form-group">'
   			 + '<div class="input-group">'
   			 + '<div style="display:none;" class="txt-wrap pull-left radius0 groupwidth form-control"></div>'
   			 + '<input type="text" class="txt form-control radius0 groupwidth" data-name="" data-guid="" name="group_name">'
   			 + '<span class="input-group-btn group_btn_dlt pull-left" data-guid="">'
   			 + '<button class="btn btn-default radius0 js_save" type="button"><i class="glyphicon glyphicon-ok"></i></button>'
   			 + '<button class="btn btn-default radius0 js_close" type="button"><i class="glyphicon glyphicon-remove"></i></button>'
   			 + '</span>'
   			 + '</div>'
   			 + '</div>';	   
   	 	$('#ogm_form_edit').append(html);
   	 	$("form#ogm_form_edit").validate();
    });
	
    // 删除操作
    $('body').on('click', '.g_del',function(){
        if (!confirm('确认要删除? 删除后, 该分组下的成员如果没有在其它分组下, 将会移至未分组状态.')){
            return false;
        }
        var obj = $(this);
        guid = obj.parents('.input-group-btn').attr('data-guid');
        $.ajax({
            type: "POST",
            url: "<?php echo U('Member/ogm_del'); ?>",
            data: { guid:guid },
            dataType: "json",
            beforeSend: function(){
                
            },
            success: function(data){
                if (data.status=='ok') {
                	obj.parents('.form-group').remove();
                    var txt_length = $('.txt').length;
                    if(txt_length < 1){
                        var no_group = '<div class="no-message" id="org_no_group">暂无分组，请点击“添加分组”按钮，为您的社团添加分组</div>';
                        $('form#ogm_form_edit').append(no_group);
                    }

                } else if (data.status=='ko') {
                	tips_info('alert-warning', data.msg);
                }
            }
        });
    });
	
    function tips_info(type, msg){
    	$('.tips-box').addClass(type).show().find('.tips-msg').html(msg).parents('.tips-box').fadeOut(1800);
    	var t=setTimeout(function(){
    		$('.tips-box').removeClass(type);
    		clearTimeout(t);
    	},1800);
    }
    
	function edit_ogm(obj){
		obj.parents('.input-group').find('.txt-wrap').hide();
		obj.parents('.input-group').find('.txt').show();
		obj.parents('.input-group').find('.txt').focus();
		var html = "<button class='btn btn-default radius0 js_save' type='button'><i class='glyphicon glyphicon-ok'></i></button>";
			html+= "<button class='btn btn-default radius0 js_close' type='button'><i class='glyphicon glyphicon-remove'></i></button>";
		obj.parents('.input-group-btn').html(html);
	}
	
	/*-----------------------------------------	华丽的分割线 -----------------------------------------*/
});
</script>
