{__NOLAYOUT__}

<include file="Public:iframe_files" />

  
  <div class="myform2">
  <form id="myForm">
    <h4 class="color0"><?php echo $title?>：</h4>
    
    <?php if ($key == 'description'): // 简介?>
        <div>
            <textarea class="form-control noresize radius0" rows="5" name="<?php echo $key?>" id="val">{$val}</textarea>
            <div class="row ml12 tishinr"></div>
        </div>
    <?php elseif ($key == 'area') : // 区域?>
        <input type="hidden" id="val" value="<?php echo $_GET['areaid_1'].','.$_GET['areaid_2'];?>" />
        
        <div class="btn-toolbar">
          <div class="btn-group myform3">
              <select class="form-control radius0" name="areaid_1" id="area1">
                    <option value=''></option>
                    <?php foreach ($area_1 as $v): ?>
                        <option value="<?php echo $v['id']?>" <?php if($_GET['areaid_1']==$v['id']){echo "selected=true";}?> ><?php echo $v['name']?></option>
                    <?php endforeach;?>
              </select>
              <div class="row ml12 tishinr"></div>
          </div>
          <div class="btn-group pull-right myform3">
                <select class="form-control radius0" name="areaid_2" id="area2">
                   <?php if (isset($_GET['areaid_2'])){ ?>
	               	   <?php foreach ($area_2 as $v): ?>
	                       	<option value="<?php echo $v['id']?>" <?php if($_GET['areaid_2']==$v['id']){echo "selected=true";}?> ><?php echo $v['name']?></option>
	                   <?php endforeach;?>
               	   <?php } ?>
                </select>
          </div>
        </div> 
    <?php elseif ($key == 'password') : //密码?>
        <div>
            <input type="password" name="old_password" value="" id="old_password" class="form-control radius0" placeholder="原密码" />
            <div class="row ml12 tishinr"></div>
        </div>
        <div>
            <input type="password" name="password" value="" id="val" class="form-control radius0" placeholder="新密码" />
            <div class="row ml12 tishinr"></div>
        </div>
        <div>
            <input type="password" name="repassword" value="" class="form-control radius0" placeholder="确认密码" />
            <div class="row ml12 tishinr"></div>
        </div>
    <?php else: // 其它?>
        <div>
            <input type="text" class="form-control radius0" name="<?php echo $key?>" value="<?php echo $val; ?>" id="val" placeholder="<?php echo $title?>"/>
            <div class="row ml12 tishinr"></div>
        </div>
    <?php endif; ?>
    <div class="btn-group">
     	 <button type="button" class="btn mybtn active" id="save">保存</button>
      	 <button type="button" class="btn mybtn" onclick="$.closeBox();">取消</button>
    </div>
</form>
</div>

<div class="modal-tips hiden">
	<div class="alert alert-success radius0 alert-pading" id="success_tips" role="alert"><i class="glyphicon glyphicon-ok-sign"></i>&nbsp;信息修改成功</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var winH=$(document).height();
		var winW=$(document).width();
		$('input[name=old_password]').val('');
		jQuery.validator.setDefaults({
			debug: true,
			success: "valid"
			});
		form = $('#myForm');
		form.validate({
        	errorClass: "error",
            errorPlacement: function(error, element){
                element.parent().find('.tishinr').html(error);
            },
            rules: {
                contact_name: {
                    required: true
                },
                phone: {
                    required: true,
                    digits: true,
                    rangelength: [11, 11]
                },
                description: {
                    rangelength: [0, 200]
                },
                url: {
                    url: true,
                    rangelength: [0, 50]
                },
                weibo: {
                    rangelength: [0, 50]
                },
                wx: {
                    rangelength: [0, 50]
                },
                mail: {
                    email: true,
                    required: true
                },
                areaid_1: {
                    required: true
                },
                areaid_2: {
                    required: true
                },
                old_password: {
                    required: true,
                    rangelength: [6, 18],
                    remote: {
    	                url: "{:U('Org/check?type=old_pass')}",
    	                type: "post",
    	                data: {
    	                  field: function() {
    	                    return $( "#old_password" ).val();
    	                  }
    	                }
    	            }
                },
                password: {
                    required: true,
                    rangelength: [6, 18]
                },
                repassword: {
                    required: true,
                    equalTo: "#val"
                },
                legal_p_name: {
                    required: true,
                    rangelength: [0, 10]
                },
                legal_p_phone: {
                    required: true,
                    digits: true,
                    rangelength: [7, 20]
                }
            },
            messages: {
                phone: {
                    required: "联系手机不能为空",
                    digits: '手机必须为数字',
                    rangelength: "手机必须为11个数字"
                },
                contact_name: {
                    required: "联系人不能为空"
                },
                description: {
                    rangelength: "简介不能超过200个字"
                },
                url: {
                    url: '网址格式不正确',
                    rangelength: "网址不能超过50个字符"
                },
                weibo: {
                    rangelength: "微博不能超过50个字符"
                },
                wx: {
                    rangelength: "微信号不能超过50个字符"
                },
                contact_name: {
                    required: "联系人不能为空"
                },
                areaid_1: {
                    required: "区域不能为空"
                },
                areaid_2: {
                    required: "区域不能为空"
                },
                mail :{
                    required: "联系邮箱不能为空",
                    email: "邮箱格式不正确"
                },
                old_password: {
                    required: "原密码不能为空",
                    rangelength: "密码必须为6到18个字符",
                    remote: "原密码不正确"
                },
                password: {
                    required: "新密码不能为空",
                    rangelength: "新密码必须为6到18个字符"
                },
                repassword: {
                    required: "确认密码不能为空",
                    equalTo: "两次填写的密码不一致"
                },
                legal_p_name: {
                    required: "法人姓名不能为空",
                    rangelength: "法人姓名必须为0到50个字."
                },
                legal_p_phone: {
                    required: "法人联系电话不能为空",
                    digits: '联系电话必须为数字',
                    rangelength: "联系电话必须为7到20个数字"
                }
            }
		});

		// 点击保存按钮
    	$('body').on('click','#save',function(){
        	if(form.valid()){
            	var val = $('#val').val();
            	$.ajax({
                    type: "POST",
                    url: "<?php echo U('Org/ajax_edit_info'); ?>",
                    data: { k:'<?php echo $key?>', v:val},
                    dataType: "json",
                    beforeSend: function(){
                        $('#myForm').append('<i id="loading" class="fa fa-spinner fa-spin"></i>');
                    }, 
                    success: function(data){                                 
                          if (data.status=='ok') {
                              console.log(data.data.val);
                              $('#loading').remove();
                              <?php if(in_array($key, array('logo', 'legal_p_card', 'yingye', 'zuzhi'))): ?>
                              $(parent.document).find('img#<?php echo $key?>V').attr('src', data.data.val+'?'+$.now());
                              <?php else: ?>
                              $(parent.document).find('td#<?php echo $key?>V').text(data.data.val);
	                              <?php if($key == 'area'):?>
	                              		var areaNum=val.split(",");
	                              		var newAreaUrl='<?php echo $areaUrl;?>'+'/areaid_1/'+areaNum[0]+'/areaid_2/'+areaNum[1];
	                              		$(parent.document).find('td#<?php echo $key?>V').next().find('a').attr('href',newAreaUrl);
	                              <?php endif; ?>
                              <?php endif; ?>
                              $('.modal-tips').show();
                              var interval = setInterval(function(){
                            	  $.closeBox();
                                  clearInterval(interval);
                          	  }, 1000);
                          } else if (data.status=='ko') {
                              $('#loading').remove();
                         	   alert(data.msg);
                          } else if (data.status == 'cancel') {
                      	     $.closeBox();
                          }
                   }
                });
        	}
    	});

    	// 选择一级区域
    	<?php if ($key=='area'): ?>
        $('#area2').on('change', function(){
            id1 = $('#area1').val();
            id2 = $(this).val();
            $('#val').val(id1+','+id2);
        });
    	$('#area1').change(function(){
    	    var id1 = $(this).val();
    	    if(id1 == '') {
                $('#val').val('');
                $('#area2').html('');
                return false;
            }
    	    $('#val').val(id1);
    	    $.ajax({
    	        type: 'POST',
    	        url: "<?php echo U('Org/ajax_get_child_area_list')?>",
    	        data: {id: id1},
    	        dataType: "json",
    	        beforeSend: function(){
                    $('#myForm').append('<i id="loading" class="fa fa-spinner fa-spin"></i>');
        	    },
        	    success: function(data){
            	    if(data.status=='ok'){
                        $('#loading').remove();
                        var html = '';
                	    $.each(data.data, function(k, v){
                            if(k==0) {$('#val').val(id1+','+ v.id); }
                    	    html += '<option value="'+v.id+'">'+v.name+'</option>';
                    	});
                    	$('#area2').html(html);

                        $('#area2').on('change', function(){
                            var id2 = $(this).val();
                            $('#val').val(id1+','+id2);
                        });
            	    }else{
                        $('#loading').remove();
                	    alert(data.msg);
            	    }
        	    }
        	});
        });
        <?php endif; ?>

	 });
</script>