<?php
	/**
	 * 主题页面
	 *
	 * CT: 2014-09-23 12:00 by RTH
	 * UT: 2014-09-23 12:00 by RTH
	 */
 ?>
<import type='css' file="home.css.basic-information" />

<script type="text/javascript">
	var YM = {
		'setting_invite' : "{:U('setting_invite')}",
		'setting_examine': "{:U('setting_examine')}"
	};
</script>

<!-- 导入面包屑 -->
<?php
    $breadcrumbs = array(
        'base' => '基本信息',
        'list' => array(
            array('url'=>'', 'v'=>'基本信息')
        )
    );
?>
<include file="Public:_breadcrumbs" />

<div class="ymnaw">
    <ul class="nav nav-tabs ymbtn" role="tablist">
        <li role="presentation" class="active"><a href="<?php echo U('Org/info')?>">基本信息</a></li>
        <li role="presentation"><a href="<?php echo U('Org/authentication')?>">认证信息</a></li>
        <li role="presentation"><a href="<?php echo U('Org/invite')?>">邀请设置</a></li>
    </ul>
</div>

<div class="rightmain">
    <div class="table mt10 mb40">
        <table class="table">
            <tbody>
              <tr class="base-tr1">
                <td class="wh140">名称</td>
                <td class="wh570"><?php echo $info['name']?></td>
                <td class="wh78"><a href="javascript:void(0);" onclick="ym_alert('请联系客服QQ:<?php echo C('SERVICE_QQ') ?>')">申请修改</a></td>
              </tr>
              
              <tr>
                <td class="wh140">LOGO</td>
                <td class="wh570">
                    <img data-original="<?php echo get_image_path($info['logo']);?>" class="lazy" alt="logo" id="logoV" style="height: 70px;width: 70px;">
                </td>
                <td class="wh78">
                    <a href="<?php echo U('Common/upload_pic', array('k'=>'logo', 't'=>'1'))?>" width="500" height="420" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                <td class="wh140">登录邮箱</td>
                <td class="wh570"><?php echo $info['email']?></td>
                <td class="wh78"></td>
              </tr>
              <tr>
                <td class="wh140">密码</td>
                <td class="wh570">*******</td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'password', 't'=>'1'))?>" width="500" height="330" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                <td class="wh140">简介</td>
                <td class="wh570" id="descriptionV"><?php echo $info['description']; ?></td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'description', 't'=>'1'))?>" width="500" height="300" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                <td class="wh140">区域</td>
                <td class="wh570" id="areaV"><?php echo get_full_area($info['areaid_1'], $info['areaid_2'])?></td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'area', 't'=>'1', 'areaid_1'=>$info['areaid_1'], 'areaid_2'=>$info['areaid_2']))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                <td class="wh140">地址</td>
                <td class="wh570" id="addressV"><?php echo $info['address']?></td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'address', 't'=>'1'))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                  <td class="wh140">联系人</td>
                  <td class="wh570" id="contact_nameV"><?php echo $info['contact_name']?></td>
                  <td class="wh78">
                      <a href="<?php echo U('Org/editField', array('k'=>'contact_name', 't'=>'1'))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                  </td>
              </tr>
              <tr>
                  <td class="wh140">联系手机</td>
                  <td class="wh570" id="phoneV"><?php echo $info['phone']?></td>
                  <td class="wh78">
                      <a href="<?php echo U('Org/editField', array('k'=>'phone', 't'=>'1'))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                  </td>
              </tr>
              <tr>
                <td class="wh140">联系邮箱</td>
                <td class="wh570" id="mailV"><?php echo $info['mail']?></td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'mail', 't'=>'1'))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                <td class="wh140">社团网址</td>
                <td class="wh570" id="urlV"><?php echo $info['url']?></td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'url', 't'=>'1'))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                <td class="wh140">官方微博</td>
                <td class="wh570" id="weiboV"><?php echo $info['weibo']?></td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'weibo', 't'=>'1'))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
              <tr>
                <td class="wh140">微信公众账号</td>
                <td class="wh570" id="wxV"><?php echo $info['wx']?></td>
                <td class="wh78">
                    <a href="<?php echo U('Org/editField', array('k'=>'wx', 't'=>'1'))?>" width="500" height="200" rel="FenBox" showspeed="200">修改</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
