<!DOCTYPE html>
<import type='js' file="admin.js.orgIndex" />
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2 class="page-header">
    <!--<a href="{:U('add')}" type="button" class="pull-right btn btn-default"><span class="glyphicon glyphicon-plus"></span> 创建社团</a>-->
    App下载管理
</h2>
<table class="table table-bordered">
    <tr>
        <th>申请人姓名</th>
        <th>申请人公司</th>
        <th>申请人职务</th>
        <th>申请原因</th>
        <th>申请时间</th>
        <th>审核操作</th>
    </tr>
    <?php foreach($app_application_list as $l):?>
    <tr>
        <td><?php echo $l['name'];?></td>
        <td><?php echo $l['company'];?></td>
        <td><?php echo $l['duties'];?></td>
        <td>
            <?php if(strlen($l['reason']) <= 10){
                    echo $l['reason'];
            }elseif(strlen($l['reason']) > 10){
                    echo mb_substr($l['reason'],0,10,'utf-8').'...';
            }?>
        </td>
        <td><?php echo date('Y-m-d',$l['created_at']);?></td>
        <!--<td class="text-danger"><?php echo date('Y-m-d H:i',$l['created_at']);?></td>-->
        <!--<td><?php echo date('Y-m-d H:i',$l['created_at']);?></td>-->
        <!--&lt;!&ndash;<td class="text-info"><?php echo mb_substr($l['content'],0,9,'utf-8');?>...</td>&ndash;&gt;-->
        <!--<td><?php echo mb_substr($l['content'],0,9,'utf-8');?>...</td>-->
        <td >
            <a href="<?php echo U('App/content',array('user_guid' => $l['guid']));?>"><i class="fa fa-search"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <?php if($l['status'] == 0):?><!--审核状态 0未审核 1已通过 2未通过-->
            <a href="<?php echo U('App/check_content', array('appliction_guid'=>$l['guid'],'type'=>'1'))?>"><i class="fa fa-check" style="font-size: 20px;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="<?php echo U('App/check_content', array('appliction_guid'=>$l['guid'],'type'=>'2'))?>"><i class="fa fa-times" style="font-size: 20px;"></i></a>
            <?php elseif($l['status'] == 1):?>
            <i class="fa fa-chain" style="font-size: 20px;"></i>&nbsp;&nbsp;已通过
            <?php else:?>
            <i class="fa fa-chain-broken" style="font-size: 20px;"></i>&nbsp;&nbsp;已拒绝
            <?php endif;?>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php echo $page;?>
</body>
</html>