
<!-- modal 票务 -->
<div class="modal fade bs-example-modal-lg" id="modal_ticket" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-tk-position">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="export-import"><strong>票务设置</strong></h4>
            </div>
            <div class="modal-body">
                <form id="modal_ticket_form" class="form-horizontal">
                    <div class="form-group">
                        <label for="ticket-name" class="col-sm-2 control-label">票种名称：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" maxlength="8" id="ticket-name" name="modal_ticket_name" placeholder="最多8个字">
                        </div>
                        <!-- <div class="col-sm-4 error-pr">这里是错误信息！</div> -->
                    </div>

                    <div class="form-group">
                        <label for="ticket-number" class="col-sm-2 control-label">该票数量：</label>
                        <div class="col-sm-3">
                            <input type="number" name="points" min="1" max="10000" value="100" class="form-control" maxLength="8" name="modal_ticket_num" id="ticket-num" placeholder="">
                        </div>
                        <!-- <div class="col-sm-4 error-pr">这里是错误信息！</div> -->
                    </div>

                    <div class="form-group">
                        <label for="ticket-number2" class="col-sm-2 control-label">验证次数：</label>
                        <div class="col-sm-1">
                            <input type="text" min="1" max="30" value="10"  class="form-control" id="ticket-verifynum" name="modal_ticket_verifynum" placeholder="" />
                        </div>
                        <!--                         <div class="col-sm-4">-->
                        <!--                             <input type="range"  name="points" min="1" max="30" value="10"  class="form-control" id="ticket-number2" placeholder="最多30次">-->
                        <!--                         </div>-->
                        <div class="col-sm-3 text-left mt13 ml-12"><nameh1>最多30次</nameh1></div>
                    </div>

                    <div class="form-group">
                        <label for="ticket-number" class="col-sm-2 control-label">是否售票：</label>
                        <div class="col-sm-1">
                            <input id="ticket-forsale" data-on-color="success" value="1" type="checkbox" data-size="small" name="modal_ticket_forsale" data-on-text="是" data-off-text="否" checked>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2 text-left">
                            <nameh1>用户报名后不能自动获取参会二维码，需要在参会人员中审核后发送二维码电子凭证</nameh1>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="btn-group pdlf10">
                                <input type="hidden" id="is_new" value="1" />
                                <input type="hidden" id="ticket_key" value="" /> <!-- 票编号 -->
                                <button type="button" id="modal_ticket_save" class="btn mybtn active">确定</button>
                                <button type="button" class="btn mybtn" data-dismiss="modal">取消</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>