
<div id='ticket_preview' class="table">
    <style>
        #ticket_preview { width: 283px; height: 177px;border: 1px solid #000; margin: auto; padding: 10px;
            vertical-align: middle; display: none; position: relative; }
        #ticket_preview div{text-align: center;}
        #ticket_name { font-size: 24px; font-weight: bold; margin-bottom: 10px;}
        #ticket_company { font-size: 18px; font-weight: bold; margin-bottom: 5px; }
        #ticket_position { font-size: 18px; font-weight: bold;}
    </style>
    <div style="display: table; height: 100%; width: 100%;">
        <div style="vertical-align: middle; display: table-cell;">
            <div id="ticket_name"></div>
            <div id="ticket_company"></div>
            <div id="ticket_position"></div>
        </div>
    </div>
</div>