
<div class="ymnaw">
    <ul class="nav nav-tabs ymbtn" role="tablist">
        <li role="presentation" class="<?php echo (ACTION_NAME == 'activity_view') ? 'active' : ''; ?>"><a href="<?php echo U('activity/activity_view', array('guid' => $activity_info['guid']))?>">问卷详情</a></li>
        <li role="presentation" class="<?php echo (ACTION_NAME == 'question_collect') ? 'active' : ''; ?>"><a href="<?php echo U('activity/question_collect', array('guid' => $activity_info['guid']))?>">问卷收集</a></li>
        <!--  <li role="presentation" class="<?php echo (ACTION_NAME == '') ? 'active' : ''; ?>"><a href="javascript:void(0);">问卷分析</a></li> -->
    </ul>
</div>