
    <div class="pull-right">
        <?php if($activity_info['status']==0):?>
            <button type="button" class="btn mybtn" onclick="location.href='<?php echo U('Activity/activity_edit', array('guid'=>$activity_info['guid']))?>'">编辑</button>
            <button type="button" class="ym_del btn mybtn" url="<?php echo U('Activity/activity_del', array('guid'=>$activity_info['guid']))?>">删除</button>
        <?php endif; ?>

        <?php if($activity_info['status']==1):?>
            <button type="button" class="ym_del btn mybtn" url="<?php echo U('Activity/close', array('guid'=>$activity_info['guid']))?>">关闭活动</button>
        <?php endif; ?>
    </div>


