 <!-- 
 	//修改文章页
  -->
 <include file="Activity:style" />

 <!-- 导入面包屑 -->
 <include file="Activity:_breadcrumbs_activity_edit" />

      <div class="rightmain">
      
        <div class="pdlf10 mb40 ml12">
          <div class="row mt10">
            <div class="pull-left width80 mt7">活动主题：</div>
            <div class="pull-left width420 mt7"><?php echo $subject_info['name']?></div>
          </div>
          <div class="row mt10">
            <div class="pull-left width80 mt7">活动类型：</div>
            <div class="pull-left width420 mt7"><img width="23px" src="__PUBLIC__/home/images/activity1.png" alt="文章">文章</div>
          </div> 
          <!-- form~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <form id="article_form" method="post" action="">
          <div class="row mt10">
              <div class="pull-left width80 mt7">活动时间：</div>
              <div class="pull-left width190">
                <div class="input-group date form_datetime">
                  <div>
                  	<input class="form-control" size="16" type="text" value="<?php echo date('Y-m-d H:i',$activity_info['start_time']);?>" name="startTime" id="startTime" readonly></div>
                  <span class="input-group-addon radius0"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <div class="tswidth190 tishinr" id="conTimeS"></div>
              </div>
              <div class="pull-left width40 mt7 pdlf10">至</div>
              <div class="pull-left width190">
                <div class="input-group date form_datetime">
                 <div>
                 	<input class="form-control" size="16" type="text" value="<?php echo date('Y-m-d H:i',$activity_info['end_time']);?>" name="endTime" id="endTime" readonly></div>
                  <span class="input-group-addon radius0"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <div class="tswidth190 tishinr" id="conTimeE"></div>
              </div>
          </div>

              <div class="row">
                  <div class="pull-left width80">是否公开：</div>
                  <div class="pull-left">
                      <label class="radio-inline">
                          <input type="radio" name="is_public" id="inlineRadio1" value="1" <?php echo ($activity_info['is_public']==1) ? 'checked' : ''; ?>> 是
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="is_public" id="inlineRadio2" value="0"  <?php echo ($activity_info['is_public']==0) ? 'checked' : ''; ?>> 否
                      </label>
                  </div>
              </div>
              <div class="row mb20">
                  <div class="ml80"><nameh1>若设为公开，则‘参与人员’选项无效，该活动将对所有人（包括非本社团用户）开放。</nameh1></div>
              </div>

          <div class="row">
            <div class="pull-left width80 mt7">参与人员：</div>
            <div class="pull-left btn-group width190">
                <?php $all = session('auth')['org_all_guid']; $other = session('auth')['org_other_guid'];?>
            <select class="form-control radius0" name="OGGuid">
                    <option value="<?php echo $all; ?>" <?php if ($activity_info['org_group_guid'] == $all) {echo 'selected';}?>>全部成员</option>
	              	<?php foreach ($group_list as $k=>$l): ?>
	              		<option value="<?php echo $l['guid']?>" <?php if ($l['guid'] == $activity_info['org_group_guid']) {echo 'selected';}?>>
	              			<?php echo $l['name']?></option>
	              	<?php endforeach; ?>
                    <option value="<?php echo $other?>" <?php if ($activity_info['org_group_guid'] == $other) {echo 'selected';}?>>未分组</option>
	        </select>
            </div>
          </div> 
          
          <div class="row mt30">
            <div class="pull-left width80 mt7">文章标题：</div>
            <div class="pull-left width420 "><input type="text"  class="form-control" name="name" value="<?php echo $activity_info['name'];?>"></div>
          </div>
          <div class="row ml80 tishinr"></div>
          
          <div class="row">
            <div class="pull-left width80 mt7">文章内容：</div>
            <div class="pull-left width675">
                <textarea id="ym_editor" name="content">
                        <?php echo htmlspecialchars_decode($article_info['content']);?>
                </textarea>
            </div>
          </div>
       	 <div class="row ml80 tishinr" id="contentId"></div>
          
          <div class="row">
            <div class="pull-left width80"><p style="text-indent: 2em;">发布：</p></div>
            <div class="pull-left">
              <label class="radio-inline">
                <input type="radio" name="status" id="status1" value="1" <?php echo ($activity_info['status']=='1')?'checked':''; ?>> 是
              </label>
              <label class="radio-inline">
                <input type="radio" name="status" id="status0" value="0" <?php echo ($activity_info['status']=='0')?'checked':''; ?>> 否
              </label>
            </div>
          </div>

          <div class="row mt10">
            <div class="pull-left btn-group ml80">
                <button type="submit" class="btn mybtn active">保存</button>
                <button type="button" class="btn mybtn" onclick='history.go(-1);'>取消</button>
            </div>   
          </div>
       </form>
        </div>
        
      </div>

 <import type='js' file="home.js.article_add" />