
<?php
	/**
	 * 主题列表页面
	 *
	 * CT: 2014-11-8 12:00 by RTH
	 * UT: 2014-11-8 12:00 by RTH
	 */
 ?>
<import type="css" file="home.css.notification-list" />


<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => array(
        array('url'=>'', 'v'=>'主题列表')
    )
);
?>
<include file="Public:_breadcrumbs" />

<div class="rightmain">
<div class="btn-group width798 pdlf10">
    <a href="<?php echo U('Activity/subject_add')?>">
        <div class="pull-right"><button type="button" class="btn mybtn" ><i class="fa fa-plus"></i> 新建主题活动</button></div>
    </a>
</div>

<div class="table mt10">
  <table class="table table-hover">
    <thead>
      <tr>
        <td class="wh520"><name0>主题名称</name0></td>
        <td class="wh180"><name0>主题活动</name0></td>
        <td class="wh98"><name0>主题状态</name0></td>
      </tr>
    </thead>
    <tbody>
    <?php if(!empty($list)): ?>
        <volist name="list" id="vo">
              <tr>
                <td class="wh520"><a href="{:U('Activity/subject_view', array('guid'=>$vo[guid]))}"><nameh>{$vo['name']}</nameh></a></td>
                <td class="wh180"><a href="{:U('Activity/activity_list', array('sguid'=>$vo[guid]))}"><nameh>活动列表</nameh></a></td>
                <!--  判断主题状态   1、未发布可修改   2、活动中    3、已结束            -->
                <td class="wh98"><?php echo $vo['status']; ?></td>
              </tr>
         </volist>
    <?php else: ?>
        <tr><td colspan="10">您有0条主题.</td></tr>
    <?php endif; ?>
    </tbody>
  </table>
</div>
<div class="btn-group mb40">
  <ul class="pagination pagination-sm">
  <?php echo ($page); ?>
  </ul>
</div>

</div>
