
<import type='css' file="home.css.create-theme" />
<import type='css' file="home.css.sign-up" />


<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => array(
        array('url'=>U('Activity/index'), 'v'=>'主题列表'),
        array('url'=>U('Activity/activity_list', array('sguid'=>$subject_info['guid'])), 'v'=>$subject_info['name']),
        array('url'=>'', 'v'=>$activity_info['name'])
    )
);
?>
<include file="Public:_breadcrumbs" />
<include file="_question_submenu" />

<div class="rightmain">
    <div class="pull-right mt20"><a href="<?php echo U('Activity/activity_list', array('sguid'=>$activity_info['subject_guid']))?>"><i class="fa fa-arrow-left"></i> 活动列表</a></div>
    <h4>活动名称： <?php echo $activity_info['name']?></h4><br>
    <h4><small>参与总人数为： <?=count($collect_list);?></small></h4>

    <div class="width798 mt20">
        <form id="signup_user_list_form" method="post">
            <table class="table table-hover">
                <thead>
                    <tr class="tr-bgcolor">
                        <td>用户</td>
                        <td>提交时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>

                <?php if(empty($collect_list)): ?>
                    <tr><td colspan="3">暂无用户参与</td></tr>
                <?php else: ?>
                    <?php foreach($collect_list as $l): ?>
                        <tr>
                            <td><?=empty($l['real_name'])? '游客'.$l['id'] :$l['real_name'];?></td>
                            <td><?=date('Y-m-d H:i:s',$l['created_at']);?></td>
                            <td><a href="<?php echo U('Activity/question_collect_detail', array('collect_guid' => $l['collect_guid']))?>"><i class="fa fa-search"></i></a></td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>

                </tbody>
            </table>
        </form>
        <div class="btn-group mb40">
            <?php echo $page; ?>
        </div>

    </div>
</div>

<include file="Public:baidu_map" />