
<import type='css' file="home.css.create-theme" />
<import type='css' file="home.css.sign-up" />
<script type="text/javascript">
    // 组装 活动流程json串
    var ticket_items = [];
    <?php foreach($ticket as $k => $f): ?>
    ticket_items[<?php echo $k ?>] = {
        'guid' : "<?php echo $f['guid']; ?>",
        'name' : "<?php echo $f['name']; ?>",
        'num' : "<?php echo $f['num'] ?>",
        'num_used' : "<?php echo $f['num_used'] ?>",
        'verify_num' : "<?php echo $f['verify_num']; ?>",
        'is_for_sale' : "<?php echo $f['is_for_sale']; ?>"
    };
    <?php endforeach; ?>

</script>
<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => array(
        array('url'=>U('Activity/index'), 'v'=>'主题列表'),
        array('url'=>U('Activity/activity_list', array('sguid'=>$subject_info['guid'])), 'v'=>$subject_info['name']),
        array('url'=>'', 'v'=>$activity_info['name'])
    )
);
?>
<include file="Public:_breadcrumbs" />
<include file="_signup_submenu" />

<div class="rightmain">
    <div class="btn-group width798 pdlf10">
        <div class="pull-left"><h4>其它设置</h4></div>
        <div class="pull-right"><a href="<?php echo U('Activity/activity_list', array('sguid'=>$subject_info['guid']))?>"><i class="fa fa-arrow-left"></i> 活动列表</a></div>
    </div>
    <div class="width798">
        <form class="form-horizontal" method="post">
            <div class="page-header mt10"></div>

            <div class="form-group">
                <label for="inlineCheckbox1" class="col-sm-3 control-label">前台活动页是否显示<br />报名列表：</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="show_front_list" value="1" <?php echo ($signup_info['show_front_list'] == 1) ? 'checked' : ''; ?>> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="show_front_list" value="0" <?php echo ($signup_info['show_front_list'] == 0) ? 'checked' : ''; ?>> 否
                    </label>
                </div>
            </div>

<!--            <div class="form-group">-->
<!--                <label for="inlineCheckbox1" class="col-sm-3 control-label">签到成功自动发送信息：</label>-->
<!--                <div class="col-sm-9">-->
<!--                    <label class="radio-inline">-->
<!--                        <input type="radio" name="optionsRadios" id="inlineCheckbox1" value="option1"> 是-->
<!--                    </label>-->
<!--                    <label class="radio-inline">-->
<!--                        <input type="radio" name="optionsRadios" id="inlineCheckbox2" value="option2" checked> 否-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!---->
<!--            <div class="form-group">-->
<!--                <label for="notice-content" class="col-sm-2 control-label">短信内容： </label>-->
<!--                <div class="col-sm-9">-->
<!--                    <textarea class="form-control noresize radius0"  id="notice-content" rows="4"></textarea>-->
<!--                </div>-->
<!--                <div class="col-sm-9 col-sm-offset-2 mt10">-->
<!--                    <nameo>内容不能为空！</nameo>-->
<!--                    <div class="pull-right"><nameh1>7/210字</nameh1></div>-->
<!--                </div>-->
<!--            </div>-->
<!---->
<!--            <div class="form-group">-->
<!--                <label for="notice-signature" class="col-sm-2 control-label">短信签名： </label>-->
<!--                <div class="col-sm-9">-->
<!--                    <input type="text" class="form-control" id="notice-signature" value="<?php echo C('APP_NAME')?>" placeholder="">-->
<!--                </div>-->
<!--                <div class="col-sm-9 col-sm-offset-2 mt10">-->
<!--                    <nameo>内容不能为空！</nameo>-->
<!--                </div>-->
<!--            </div>-->

            <div class="page-header mt10"></div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="btn-group">
                        <button type="submit" class="btn mybtn active">保存</button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>

<include file="Activity:_modal_ticket" />
<import type="js" file="home.js.ticket"/>
