
<include file="Activity:style" />


<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => array(
        array('url' => U('Activity/activity_view', array('guid'=>$activity_info['guid'])), 'v'=>'活动详情'),
        array('url' => U('Activity/signup_userinfo', array('aid' => $activity_info['guid'])), 'v'=> '报名名单'),
        array('url'=>'', 'v'=> '添加人员')
    )
);
?>
<include file="Public:_breadcrumbs" />

<div class="rightmain">
    <div class="pull-right mt20"><a href="<?php echo U('Activity/activity_view', array('guid'=>$activity_info['guid']))?>"><i class="fa fa-arrow-left"></i> 活动详情</a></div>
    <h4>活动名称： <?php echo $activity_info['name']?></h4><br>

    <div class="row">
        <div class="col-sm-12">
            <form id="signup_form" role="form" class="form-horizontal main-form" method="post">
<!--                <input type="hidden" name="activity_guid" value="--><?php //echo $activity_info['guid']; ?><!--" />-->
<!--                <input type="hidden" name="signup_guid" value="--><?php //echo $signup_info['guid']; ?><!--" />-->
<!--                <input type="hidden" name="user_guid" value="--><?php //echo I('get.uid'); ?><!--" />-->
                <?php foreach($build_info as $k => $b): ?>
                    <div class="form-group">
                        <label for="contact" class="col-sm-2 control-label">
                            <?php if($b['is_required']):?><span>* </span><?php endif; echo $b['name']?>：
                        </label>
                        <div class="col-sm-5 form_field">
                            <!-- form -->
                            <?php $name = ($b['is_info']==1)?'info':'other'; ?>
                            <?php if($b['html_type'] == 'text'): ?>
                                <?php if($b['is_info'] == 1):?>
                                    <input type="text" class="form-control <?php echo ($b['ym_type']=='date') ? 'ym_date' : ''; ?>" name="<?php echo $name.'['.$b['ym_type'].']'?>" placeholder="<?php echo $b['note']?>"  <?php echo ($b['ym_type']=='date') ? 'readonly' : ''; ?>/>
                                <?php else: ?>
                                    <input type="text" class="form-control <?php echo ($b['ym_type']=='date') ? 'ym_date' : ''; ?>" name="<?php echo $name.'['.$b['guid'].']'?>[value]" placeholder="<?php echo $b['note']?>"  <?php echo ($b['ym_type']=='date') ? 'readonly' : ''; ?>/>
                                    <input type="hidden" class="form-control" name="<?php echo $name.'['.$b['guid'].']'?>[key]" value="<?php echo $b['name']?>" />
                                <?php endif; ?>

                            <?php elseif($b['html_type'] == 'textarea'):?>
                                <textarea class="form-control" name="<?php echo $name.'['.$b['guid'].']'?>[value]" placeholder="<?php echo $b['note']?>"></textarea>
                                <input type="hidden" class="form-control" name="<?php echo $name.'['.$b['guid'].']'?>[key]" value="<?php echo $b['name']?>" />

                            <?php elseif($b['html_type'] == 'select'):?>
                                <div class="select">
                                    <select name="<?php echo $name.'['.$b['guid'].']'?>[value]" class="form-control">
                                        <option value=""></option>
                                        <?php foreach($option_info[$b['guid']] as $ok => $ov): ?>
                                            <option value="<?php echo $ov['value']?>"><?php echo $ov['value']?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                                <input type="hidden" class="form-control" name="<?php echo $name.'['.$b['guid'].']'?>[key]" value="<?php echo $b['name']?>">

                            <?php elseif ($b['html_type'] == 'radio' || $b['html_type'] == 'checkbox'): ?>
                                    <?php foreach($option_info[$b['guid']] as $ok => $ov): ?>
                                        <?php if($b['is_info'] == 1):?>
                                            <div class="<?php echo $b['html_type']?>">
                                                <label>
                                                    <div class="activity-vote-options"><input type="<?php echo $b['html_type']?>" name="<?php echo $name.'['.$b['ym_type'].']'?>" class="" value="<?php echo $ov['value']?>"></div>
                                                    <?php echo $ov['value']?>
                                                </label>
                                            </div>
                                        <?php else: ?>
                                            <div class="radio">
                                                <label>
                                                    <div class="activity-vote-options"><input type="<?php echo $b['html_type']?>" name="<?php echo $name.'['.$b['guid'].']'?>[value][]" class="" value="<?php echo $ov['value']?>"></div>
                                                    <?php echo $ov['value']?>
                                                </label>
                                            </div>
                                            <input type="hidden" class="form-control" name="<?php echo $name.'['.$b['guid'].']'?>[key]" value="<?php echo $b['name']?>">
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                        <div class="col-sm-5 tishinr"></div>
                    </div>
                <?php endforeach; ?>

                <div class="row mt20 mb40">
                    <div class="col-xs-offset-2">
                        <button type="button" class="btn btn-default"
                                onclick="javascript:location.href='<?php echo U('Activity/signup_userinfo', array('aid'=>$activity_info['guid']))?>';">取消</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){

        //datetimepicker 时间样式
        $('.ym_date').datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            autoclose: true,
            minView: 2
        });

        //表单验证
        $('#signup_form').validate({
            errorPlacement: function(error, element){
                element.parents('.form_field').next('.tishinr').html(error);
            },
            rules: {
                <?php foreach($build_info as $k => $b): ?>
                    <?php $name = ($b['is_info']==1)?'info':'other'; ?>
                    <?php  if($b['is_info']==1) {
                        $whole_name = $name.'['.$b["ym_type"].']';
                    } else {
                        $whole_name = $name.'['.$b["guid"].'][value]';
                    }
                    ?>
                    // jquery validate rules
                    '<?php echo $whole_name?>': {
                        required: <?php echo ($b['is_required']==1)?'true':'false'; ?>
                        <?php if($b['ym_type'] == 'mobile'): ?>
                            ,digits: true,
                            rangelength: [11, 11],
                            remote: {
                                        url:"<?php echo U('Activity/ajax_check_signup_user'); ?>",
                                        type:'post',
                                        dataType: 'json',
                                        data: { aid: '<?php echo I('get.aid'); ?>' }
                                    }
                        <?php else: ?>
                            <?php if(!in_array($b['html_type'], array('radio', 'select', 'checkbox'))):  ?>
                                ,rangelength: [1, 50]
                            <?php endif; ?>
                            <?php if($b['html_type'] == 'textarea'): ?>
                                ,rangelength: [1, 200]
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($b['ym_type'] == 'email'): ?>
                            ,email: true
                        <?php endif;  ?>
                    },
                <?php endforeach; ?>
            },
            messages: {
                <?php foreach($build_info as $k => $b): ?>
                    <?php $name = ($b['is_info']==1)?'info':'other'; ?>
                    <?php  if($b['is_info']==1) {
                        $whole_name = $name.'['.$b["ym_type"].']';
                    } else {
                        $whole_name = $name.'['.$b["guid"].'][value]';
                    } ?>
                    // jquery validate error message
                    '<?php echo $whole_name ?>': {
                        required: "<?php echo $b['name']; ?>不能为空"
                        <?php if($b['ym_type'] == 'mobile'): ?>
                            ,digits: "手机号码必须为数字",
                            rangelength: "手机号码长度必须为11位",
                            remote: "该手机号码已经报名"
                        <?php else: ?>
                            <?php if(!in_array($b['html_type'], array('radio', 'select', 'checkbox'))):  ?>
                                ,rangelength: "<?php echo $b['name']; ?>长度必须为1到50个字"
                            <?php endif; ?>
                            <?php if($b['html_type'] == 'textarea'): ?>
                                ,rangelength: "<?php echo $b['name']; ?>长度必须为1到200个字"
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($b['ym_type'] == 'email'): ?>
                            ,email: "邮箱格式不对"
                        <?php endif;  ?>
                    },
                <?php endforeach; ?>
            }
        });
    });
</script>
<!-- End Save for Web Slices -->
</body>
</html>