
<import type='css' file="home.css.create-theme" />

<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => array(
        array('url'=>U('Activity/index'), 'v'=>'主题列表'),
        array('url'=>'', 'v'=>$info['name'])
    )
);
?>
<include file="Public:_breadcrumbs" />


<div class="rightmain">

    <div class="btn-group width798 pdlf10">
        <div class="pull-right mt20"><a href="<?php echo U('Activity/index')?>"><i class="fa fa-arrow-left"></i> 主题列表</a></div>
    </div>
    <div class="ml75">
        <div class="row mt30">
            <div class="pull-left width80">活动主题：</div>
            <div class="pull-left width420"><?php echo $info['name']; ?></div>
        </div>
        <div class="row mt30">
            <div class="pull-left width80">活动时间：</div>
            <div class="pull-left width420"><?php echo date('Y-m-d H:i',$info['start_time']);?> 至 <?php echo date('Y-m-d H:i',$info['end_time']);?></div>
        </div>
        <div class="row mt30">
            <div class="pull-left width80">参与人员：</div>
            <div class="pull-left width420"><?php echo $group_name; ?></div>
        </div>
        <div class="row mt30">
            <div class="pull-left width80">主题状态：</div>
            <div class="pull-left width420">
                <?php echo ($info['can_edit']==1)?'该主题下所有活动均未发布, 可编辑':'该主题已到期, 或该主题下已有活动进行中或已结束, 不可编辑'?>
            </div>
        </div>
        <div class="row mt30">
            <div class="pull-left btn-group">
                <?php if($info['can_edit']==1):?>
                    <button type="button" class="btn mybtn" onclick="location.href='<?php echo U('Activity/subject_edit', array('guid'=>$info['guid']))?>'">编辑主题</button>
                    <button type="button" class="ym_del btn mybtn"
                            msg="删除主题将会删除该主题下所有的活动, 请问确定要删除吗?"
                            url="<?php echo U('Activity/subject_del', array('guid'=>$info['guid']))?>">删除主题</button>
                <?php endif; ?>
                <button type="button" class="btn mybtn" onclick="location.href='<?php echo U('Activity/activity_list', array('sguid'=>$info['guid']))?>'">活动管理</button>
            </div>
        </div>
    </div>

</div>




    