
<?php
	/**
	 *	创建主题页
	 *
	 * CT: 2014-11-8 12:00 by RTH
	 * UT: 2014-11-19 16:00 by ylx
	 */
 ?>
<include file="Activity:style" />

<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => array(
        array('url'=>U('Activity/index'), 'v'=>'主题列表'),
        array('url'=>'', 'v'=>'修改主题')
    )
);
?>
<include file="Public:_breadcrumbs" />

    <!-- form 表单 -->
      <div class="rightmain">

          <div class="btn-group width798 pdlf10">
              <a href="{:U('Activity/index')}"><div class="pull-right mt20"><i class="fa fa-arrow-left"></i> 主题列表</div></a>
          </div>

          <div class="ml75">
              <div class="ml40">
                  <form method="post" id="addForm">
                        <div class="row mt30">
                          <div class="pull-left width80 mt7">活动主题：</div>
                          <div class="pull-left width420  "><input type="text" id="name" name="name" class="form-control" value="<?php echo $info['name'];?>"></div>
                        </div>
                        <div class="row ml80 tishinr" id="conName"></div>

                        <div class="row">
                          <div class="pull-left width80 mt7">活动时间：</div>
                          <div class="pull-left width190">
                            <div class="input-group date form_datetime">
                              <div>
                                <input class="form-control" size="16" type="text" value="<?php if($info['start_time'] != ""){ echo date('Y-m-d H:i',$info['start_time']);}else{echo '';}?>" name="startTime" id="startTime" readonly></div>
                              <span class="input-group-addon radius0"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <div class="tswidth190 tishinr" id="conTimeS"></div>
                          </div>
                          <div class="pull-left width40 mt7 pdlf10">至</div>
                          <div class="pull-left width190">
                            <div class="input-group date form_datetime">
                             <div>
                                <input class="form-control" size="16"  type="text" value="<?php if($info['end_time'] != ""){ echo date('Y-m-d H:i',$info['end_time']);}else{echo '';};?>" name="endTime" id="endTime" readonly></div>
                                <input name="subGuid" value="<?php echo $ASList['guid'];?>" type="hidden">
                              <span class="input-group-addon radius0"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <div class="tswidth190 tishinr" id="conTimeE"></div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="pull-left width80 mt7">主题人员：</div>
                          <div class="pull-left btn-group width190">
                              <?php $all = get_org_all_member_group_guid($info['org_guid']); $other = get_org_other_member_group_guid($info['org_guid']); ?>

                               <select class="form-control radius0" name="OGGuid">
                                   <option value="<?php echo $all; ?>" <?php echo ($info['org_group_guid'] == $all)?'selected':'';?>>全部成员</option>
                                <?php foreach ($list_group as $k=>$l): ?>
                                <!-- selected 属性      意为选中此段列表内容 -->
                                    <option value="<?php echo $l['guid']?>" <?php if ($l['guid'] == $info['org_group_guid']) {echo 'selected';}?>>
                                        <?php echo $l['name']?></option>
                                <?php endforeach; ?>
                                   <option value=<?php echo $other; ?> <?php echo ($info['org_group_guid'] == $other)?'selected':''; ?>>未分组</option>
                              </select>

                          </div>
                        </div>

                        <div class="row mt30">
                          <div class="pull-left btn-group ml80">
                              <button type="submit" class="btn mybtn active">确定</button>
                              <button type="button" class="btn mybtn" onclick='history.go(-1)'>取消</button>
                          </div>
                        </div>
                  </form>

              </div>
        </div>
        
      </div>


<script type="text/javascript">
    $(document).ready(function () {

        //表单验证
        $('#addForm').validate({
            errorPlacement: function(error, element){
                     element.parent().parent().next('div.tishinr').append(error);
            },
            rules: {
                name: {
                    required: true,
                    rangelength: [2, 50]
                },
                startTime: {
                    required: true,
                    afternow: true
                },
                endTime: {
                    required: true,
                    afterstart: true
                }
            },
            messages: {
                name: {
                    required: "主题名称不能为空",
                    rangelength: "主题名称不得少于两个字，不得多于五十个字"
                },
                startTime: {
                    required: "主题开始时间不能为空"
                },
                endTime: {
                    required: "主题结束时间不能为空"
                }
            }
        });
			

    });
</script>
