
<import type='css' file="home.css.create-theme" />
<import type='css' file="home.css.sign-up" />
<style>
    .bg-white { background-color: #fff; }
</style>
<script type="text/javascript">
    var ticket_del_url = '<?php echo U('Activity/ajax_delete_ticket'); ?>';
    // 组装 活动流程json串
    var ticket_items = [];
    <?php foreach($ticket as $k => $f): ?>
    ticket_items[<?php echo $k ?>] = {
        'guid' : "<?php echo $f['guid']; ?>",
        'name' : "<?php echo $f['name']; ?>",
        'num' : "<?php echo $f['num'] ?>",
        'num_used' : "<?php echo $f['num_used'] ?>",
        'verify_num' : "<?php echo $f['verify_num']; ?>",
        'is_for_sale' : "<?php echo $f['is_for_sale']; ?>"
    };
    <?php endforeach; ?>

</script>
<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => array(
        array('url'=>U('Activity/index'), 'v'=>'主题列表'),
        array('url'=>U('Activity/activity_list', array('sguid'=>$subject_info['guid'])), 'v'=>$subject_info['name']),
        array('url'=>'', 'v'=>$activity_info['name'])
    )
);
?>
<include file="Public:_breadcrumbs" />
<include file="_signup_submenu" />

<div class="rightmain">

    <div class="btn-group width798 pdlf10">
        <div class="pull-left"><h4>票务设置</h4></div>
        <div class="pull-right mt20"><a href="<?php echo U('Activity/activity_list', array('sguid'=>$subject_info['guid']))?>"><i class="fa fa-arrow-left"></i> 活动列表</a></div>
    </div>

    <div class="alert alert-warning mt10">
        <strong>注意：</strong>如果您设置了票务，则‘参与人数’项设置将失效，报名人数限制改为通过票务控制。
    </div>

    <div class="width798 mt20">
        <form id="ticket_form" method="post">
            <table class="table">
                <thead>
                <tr class="tr-bgcolor">
                    <td class="width141">票种名称</td>
                    <td class="width141">票数</td>
                    <td class="width110">可用次数</td>
                    <td class="width141">是否售票</td>
                    <td class="width110">操作</td>
                </tr>
                </thead>
                <tbody id="ticket_list" class="ticketbody"></tbody>
            </table>
            <button type="submit" class="btn btn-default radius0 pull-right ml12"><i class="fa fa-plus"></i> 保存</button>
            <button type="button" id="btn-ticket-add" class="btn btn-success radius0 pull-right"><i class="fa fa-plus"></i> 添加</button>
        </form>
    </div>

</div>

<include file="Activity:_modal_ticket" />
<import type="js" file="home.js.ticket"/>
