
<?php
	/**
	 *	选择活动类型页
	 *
	 * CT: 2014-11-8 12:00 by RTH
	 * UT: 2014-11-8 12:00 by RTH
	 */
 ?>
<import type='css' file="home.css.create-theme" />

<!-- 导入面包屑 -->
<?php
$sguid = I('get.sguid');
if(!empty($sguid)){
    $list = array(
        array('url'=>'', 'v'=>'创建活动'),
        array('url'=>'', 'v'=>'选择类型'));
}else{
    $list = array(
        array('url'=>U('Activity/index'), 'v'=>'主题列表'),
        array('url'=>U('Activity/add'), 'v'=>'创建主题'),
        array('url'=>'', 'v'=>'选择类型')
    );
}
$breadcrumbs = array(
    'base' => '活动管理',
    'list' => $list
);
?>
<include file="Public:_breadcrumbs" />



      <div class="rightmain">
      
        <div class="btn-group width798 pdlf10">
          <div class="pull-left steps_act mt10">
            <ul class="ulgeticon pd0">
              <li class="current_prev"><span>1.创建主题</span></li>
              <li class="current"><span>2.选择类型</span></li>
              <li class="last"><span>3.创建活动</span></li>
            </ul>      
          </div>
          <div class="pull-right mt20">
              <?php if(!empty($sguid)):?>
                  <a href="<?php echo U('Activity/activity_list', array('sguid'=>$sguid)) ?>"><i class="fa fa-arrow-left"></i> 活动列表</a>
              <?php else: ?>
                  <a href="{:U('Activity/index')}"><i class="fa fa-arrow-left"></i> 主题列表</a>
              <?php endif;?>
          </div>
        </div>

        <div class="nav ml12">
          <h4 class="mt30">选择类型：</h4>
          <div class="choosetype mt30 ml12">
            <ul class="ulgeticon">
                <li role="presentation" class="pull-left mr25"><a href="<?php echo U('Activity/activity_add', array('type'=>'1', 'sguid'=>$subject_guid)); ?>"><img width="84px" height="81px" src="<?php echo PUBLIC_URL?>/home/images/activity1_1.png">文章</a></li>
                <li role="presentation" class="pull-left mr25"><a href="<?php echo U('Activity/activity_add', array('type'=>'3', 'sguid'=>$subject_guid)) ?>"><img width="84px" height="81px" src="<?php echo  PUBLIC_URL?>/home/images/activity3_1.png">讨论</a></li>
                <li role="presentation" class="pull-left"><a href="<?php echo U('Activity/activity_add', array('type'=>'2', 'sguid'=>$subject_guid)) ?>"><img width="84px" height="81px" src="<?php echo PUBLIC_URL?>/home/images/activity2_1.png">投票</a></li>
            </ul>
            <ul class="ulgeticon">
                <li role="presentation" class="pull-left mt20 mr25"><a href="<?php echo U('Activity/activity_add', array('type'=>'4', 'sguid'=>$subject_guid)) ?>"><img width="84px" height="81px" src="<?php echo PUBLIC_URL?>/home/images/activity4_1.png">报名</a></li>
                <li role="presentation" class="pull-left mt20 mr25"><a href="<?php echo U('Activity/activity_add', array('type'=>'5', 'sguid'=>$subject_guid)) ?>"><img width="84px" height="81px" src="<?php echo  PUBLIC_URL?>/home/images/activity5-1.png">问卷</a></li>
            </ul>
          </div>
        </div>

          <div class="row mt30">
              <div class="pull-left btn-group ml80">
                <a href="javascript:history.go(-1);"><button class="btn mybtn active"><?php echo empty($sguid)?'上一步':'取消'; ?></button></a>
              </div>
              
            </div>
        
      </div>
