<?php
	/**
	 *	投票(单选)页
	 *
	 * CT: 2014-11-8 12:00 by RTH
	 * UT: 2014-11-8 12:00 by RTH
	 */
 ?>
<include file="Activity:style" />

<!-- 导入面包屑 -->
<include file="Activity:_breadcrumbs_activity_add" />

<div class="rightmain">

    <div class="pdlf10 mb40 ml12">
        <div class="row mt10">
            <div class="pull-left width80 mt7">活动主题：</div>
            <div class="pull-left width420 mt7"><?php echo $subject_info['name']?></div>
        </div>
        <div class="row mt10">
            <div class="pull-left width80 mt7">活动类型：</div>
            <div class="pull-left width420 mt7"><img width="23px" src="<?php echo PUBLIC_URL?>/home/images/activity2.png" alt="投票">投票</div>
        </div>


        <form id="actForm" method="post">
            <div class="row mt20">
                <div class="pull-left width80 mt7">活动时间：</div>
                <div class="pull-left width190">
                    <div class="input-group date form_datetime">
                        <ym><span><input class="form-control" size="16" type="text" value="<?php echo date('Y-m-d H:i',$activity_info['start_time']);?>" name="startTime" id="startTime" readonly></span></ym>
                        <span class="input-group-addon radius0"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <div class="tswidth190 tishinr" id="conTimeS"></div>
                </div>
                <div class="pull-left width40 mt7 pdlf10">至</div>
                <div class="pull-left width190">
                    <div class="input-group date form_datetime">
                        <ym><span><input class="form-control" size="16" type="text" value="<?php echo date('Y-m-d H:i',$activity_info['end_time']);?>" name="endTime" id="endTime" readonly></span></ym>
                        <span class="input-group-addon radius0"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <div class="tswidth190 tishinr" id="conTimeE"></div>
                </div>
            </div>

            <div class="row">
                <div class="pull-left width80">是否公开：</div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" name="is_public" id="inlineRadio1" value="1" <?php echo ($activity_info['is_public']==1) ? 'checked' : ''; ?>> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="is_public" id="inlineRadio2" value="0"  <?php echo ($activity_info['is_public']==0) ? 'checked' : ''; ?>> 否
                    </label>
                </div>
            </div>
            <div class="row mb20">
                <div class="ml80"><nameh1>若设为公开，则‘参与人员’选项无效，该活动将对所有人（包括非本社团用户）开放。</nameh1></div>
            </div>

            <div class="row">
                <div class="pull-left width80 mt7">参与人员：</div>
                <div class="pull-left btn-group width190">
                    <?php $all = session('auth')['org_all_guid']; $other = session('auth')['org_other_guid'];?>
                    <select class="form-control radius0" name="OGGuid">
                        <option value="<?php echo $all; ?>" <?php if ($activity_info['org_group_guid'] == $all) {echo 'selected';}?>>全部成员</option>
                        <?php foreach ($group_list as $l): ?>
                            <option value="<?php echo $l['guid']?>" <?php if ($l['guid'] == $activity_info['org_group_guid']) {echo 'selected';}?>>
                                <?php echo $l['name']?></option>
                        <?php endforeach; ?>
                        <option value="<?php echo $other?>" <?php if ($activity_info['org_group_guid'] == $other) {echo 'selected';}?>>未分组</option>
                    </select>
                </div>
            </div>

            <div class="row mt30">
                <div class="pull-left width80 mt7">投票标题：</div>
                <div class="pull-left width420"><ym><input type="text" name="name" class="form-control" value="<?php echo $vote_info['name']?>"></ym></div>
            </div>
            <div class="row ml80 tishinr"></div>

            <div class="row">
                <div class="pull-left width80 mt7">投票描述：</div>
                <div class="pull-left width675"><ym><textarea class="form-control noresize radius0" rows="3" name="content"><?php echo $vote_info['content']?></textarea></ym></div>
            </div>
            <div class="row ml80 tishinr"><!--内容不能为空--></div>

            <div class="row">
                <div class="pull-left width80"><p style="text-indent: 2em;">类型：</p></div>
                <div class="pull-left">
                    <div class="radio mt0"><label><input type="radio" name="is_multiple" id="optionsRadios1" value="0" <?php echo ($vote_info['is_multiple']=='0')?'checked':''; ?>> 单选</label></div>
                    <div class="radio"><label><input type="radio" name="is_multiple" id="optionsRadios2" value="1"  <?php echo ($vote_info['is_multiple']=='1')?'checked':''; ?>> 多选</label></div>
                </div>
            </div>

            <div class="row mb30 hiden" id="max_choice">
                <div class="pull-left width92 mt7 ml-12">最多选几项：</div>
                <div class="pull-left width80"><input type="text" name="max_choice" class="form-control" value="<?php echo $vote_info['multiple_num']?>"></div>
                <div class="pull-left width400 mt7 ml5"><nameh1>设置最多选几项，0或留空为不限制</nameh1></div>
            </div>

            <div class="row">
                <div class="pull-left width80 mt7"><p style="text-indent: 2em;">选项：</p></div>
                <div class="pull-left width675">
                    <!--选项设置-->
                    <div id="option-list">
                        
                        <?php foreach($option_info as $key=>$o):?>
                            <div class="row m0 ym_option">
                                <div class="pull-left width420">
                                    <div class="input-group">
                                        <div class="input-group-addon radius0">.</div>
                                        <input type="text" name="options[]" class="op form-control radius0" value="<?php echo $o['content']?>">
                                        <input type="hidden" name="picurls[]"  class="picurl" value="<?php echo $o['pic_url']?>">
                                    </div>
                                </div>
                                <div class="pull-left ml-1"><button class="js_upload_thumb<?php echo $key;?> btn btn-default radius0" type="button"><nameb><i class="fa fa-picture-o"></i></nameb></button></div>
                                <div class="pull-left ml5"><button class="op_del btn btn-default radius0" type="button"><i class="fa fa-minus"></i></button></div>
                            </div>
                            <div class="thumb-wrap ml30 mt10">
                           		<div class="thumb-mask">
                           			<div class="func"><a class="js-del-thumb" href="javascript:void(0);"><i class="glyphicon glyphicon-trash"></i></a></div>
                           		</div>
	                          	<?php if($o['pic_url']){?>
	                           		<img src="__UPLOAD__<?php echo $o['pic_url']?>" class="pic-thumb img-thumbnail"  >
	                            <?php }else{ ?>
	                           		<img src="" class="pic-thumb img-thumbnail" style="display:none;">
	                            <?php } ?>
                          	</div>
                            <div class="row ml30 tishinr"></div>
                        <?php endforeach; ?>
                        
                    </div>

                    <div class="mb30"><button type="button" class="op_add btn btn-default radius0"><i class="fa fa-plus"></i> 添加选项</button> <nameh1>图片建议尺寸：640像素*350像素</nameh1></div>
                    <!--选项设置-->
                </div>
            </div>

            <div class="row">
                <div class="pull-left width80"><p style="text-indent: 2em;">发布：</p></div>
                <div class="pull-left">
                    <label class="radio-inline">
                        <input type="radio" name="status" id="inlineRadio1" value="1"> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" id="inlineRadio2" value="0" checked> 否
                    </label>
                </div>
            </div>

            <div class="row mt10">
                <div class="pull-left btn-group ml80">
                    <button type="submit" class="ym_save btn mybtn active">保存</button>
                    <button type="button" class="btn mybtn" onclick='history.go(-1);'>取消</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
		//图片异步加载
		$("img").lazyload({    
			placeholder : "__PUBLIC__/common/images/grey.gif",    
			effect : "fadeIn"   
		});   
		
        // 选择是否为多选, 显示最多选几项
        $('input[name="is_multiple"]').click(function(){
            var is_multiple = $(this).val();
            if(is_multiple == '1'){
                $('div#max_choice').show();
            }else{
                $('div#max_choice').hide();
            }
        });

        $('.ym_save').click(function(){
            var check_option = $('div.ym_option').length;
            if(check_option < 2){
                ym_alert('选项数量不得少于2个.');
                return false;
            }
            $('input.op').each(function(){
                var text_value=$(this).val();
                if(text_value =='') {
                    $(this).addClass('error');
                    $(this).parent().parent().parent().next().next('.tishinr').html('<b>选项不能为空</b>');
                }
            });
            $('#actForm').valid();
        });
        $('input.op').blur(function(){
            var text_value=$(this).val();
            if(text_value !='') {
                $(this).removeClass('error');
                $(this).parent().parent().parent().next().next('.tishinr').html('');
            }
        });

        //表单验证
        $('#actForm').validate({
            errorPlacement: function(error, element){
                element.parent().parent().parent().next('.tishinr').append(error);
            },
            rules: {
                name: {
                    required: true,
                    rangelength: [2, 50]
                },
                startTime: {
                    required: true,
                    after_subject_start: true
//                    afternow: true
                },
                endTime: {
                    required: true,
                    before_subject_end: true,
                    afterstart: true
                },
                content: {
                    maxlength: 200
                }
            },
            messages: {
                name: {
                    required: "投票标题不能为空",
                    rangelength: "投票标题不得少于两个字，不得多于五十个字"
                },
                startTime: {
                    required: "投票开始时间不能为空"
                },
                endTime: {
                    required: "投票结束时间不能为空"
                },
                content: {
                    maxlength: "投票内容不能多于二百个字"
                }
            }
        });

        var i=$('.ym_option').size();
        // 增加新的选项
        $('.op_add').on('click', function(){
        	 i++;
            html = '<div class="ym_option row m0">'
            +'<div class="pull-left width420">'
            +'<div class="input-group ">'
            +'<div class="input-group-addon radius0">.</div>'
            +'<input type="text" name="options[]" class="op form-control radius0" placeholder="">'
            +'<input type="hidden" name="picurls[]" class="picurl">'
            +'</div>'
            +'</div>'
            +'<div class="pull-left ml-1"><button class="js_upload_thumb'+i+' btn btn-default radius0" type="button"><nameb><i class="fa fa-picture-o"></i></nameb></button></div>'
            +'<div class="pull-left ml5"><button class="op_del btn btn-default radius0" type="button"><i class="fa fa-minus"></i></button></div>'
            +'</div>'
            +'<div class="thumb-wrap ml30 mt10">'
            +'<div class="thumb-mask">'
            +'<div class="func"><a class="js-del-thumb" href="javascript:void(0);"><i class="glyphicon glyphicon-trash"></i></a></div>'
            +' </div>'
            +'<img src="" class="img-thumbnail pic-thumb" style="display:none;">'
            +'</div>'
            +'<div class="row ml30 tishinr"></div>';

            $('#option-list').append(html);
            $("form#actForm").validate();
            $('.op').each(function(){
                $(this).rules("add",{ required: true, messages: { required: "选项内容不能为空"} });
            });
            $('input.op').blur(function(){
                var text_value=$(this).val();
                if(text_value !='') {
                    $(this).removeClass('error');
                    $(this).parent().parent().parent().next().next('.tishinr').html('');
                }
            });
            uploadPic($('.js_upload_thumb'+i));
        });

        $('body').on('click','.op_del', function(){
        	$(this).parents('.ym_option').next().next().remove();
        	$(this).parents('.ym_option').next().remove();
            $(this).parents('.ym_option').remove();
        });
        
        $('.ym_option').each(function(i){
        	uploadPic($('.js_upload_thumb'+i));
        })
        
        $('body').on('click','.js-del-thumb',function(){
        	$(this).parents('.thumb-wrap').find('img').hide();
        	$(this).parents('.thumb-wrap').prev('.ym_option').find('.picurl').val('');
        })
        
        function uploadPic(obj){
    		obj.ajaxUploadPrompt({
    			url : "<?php echo U('Common/ajax_upload', array('t'=>'vote')) ?>",
    			type: "POST",
    			dataType: "json",
    			data: { '<?php echo session_name()?>':'<?php echo session_id()?>', guid:'{$Think.get.sguid}' },
    			beforeSend : function () {
    				obj.parents('.ym_option').next('.thumb-wrap').append('<div id="loading-cover"><i id="loading" class="fa fa-spinner fa-spin"></i></div>');
    			},
    			error : function () {
    				alert('服务器出错, 请稍后重试!');
    			},
    			success : function (data) {
    				output = data.data;
    				if(data.status == 'ok') {
    					obj.parents('.ym_option').next('.thumb-wrap').find('#loading').remove();
    					obj.parents('.ym_option').find('.picurl').val(output.val);
    					obj.parents('.ym_option').next('.thumb-wrap').find('img').attr('src','__UPLOAD__'+output.val).show();
    				} else {
    					alert(data.msg);
    				}
    			}
    		});
        }
    });
</script>
