@CHARSET "UTF-8";
h2{
	font-family: "微软雅黑";
}
i{
	cursor: pointer;
}

.invalid{
	font-size:14px;
	color:#ca0000;
	line-height:34px;
	font-weight: normal;
}
.list-group{
	margin-top:40px;
}
.page-header{
	padding-bottom:16px;
}