<div class="list-group mt90">
    <a href="<?php echo U('User/index'); ?>" class="list-group-item"><i class="fa fa-users"></i> 用户信息</a>
    <a href="<?php echo U('Article/index'); ?>" class="list-group-item"><i class="fa fa-file-text-o"></i> 新闻咨询</a>


	<a href="{:U('Org/index')}" class="list-group-item"><i class="fa fa-users"></i> 社团管理</a>
	<a href="{:U('Opinion/index')}" class="list-group-item"><i class="fa fa-twitch"></i> 反馈管理</a>
	<a href="{:U('Authority/index')}" class="list-group-item"><i class="fa fa-cogs"></i> 权限管理</a>
	<a href="{:U('Level/index')}" class="list-group-item"><i class="fa fa-signal"></i> 等级管理</a>
	<a href="{:U('Upload/index')}" class="list-group-item"><i class="fa fa-line-chart"></i> APP更新</a>
	<a href="{:U('Config/index')}" class="list-group-item"><i class="fa fa-cogs"></i> 网站设置</a>
    <a href="{:U('Contact/index')}" class="list-group-item"><i class="fa fa-fax"></i> 联系我们</a>
    <a href="{:U('Task/index')}" class="list-group-item"><i class="fa fa-tasks"></i> 任务管理</a>
    <a href="{:U('App/index')}" class="list-group-item"><i class="fa fa-download"></i>下载申请</a>
</div>
