<div class="list-group mt90">
    <a href="<?php echo U('User/index'); ?>" class="list-group-item"><i class="fa fa-users"></i> 用户信息</a>
    <a href="<?php echo U('Article/index'); ?>" class="list-group-item"><i class="fa fa-file-text-o"></i> 文章管理</a>
    <a href="<?php echo U('Picture/index'); ?>" class="list-group-item"><i class="fa fa-fax"></i> 图片管理</a>
    <a href="<?php echo U('Product/index')?>" class="list-group-item"><i class="fa fa-tasks"></i> 产品管理</a>
    <a href="<?php echo U('Contact/index')?>" class="list-group-item"><i class="fa fa-tasks"></i> 联系我们</a>
</div>
