<?php
	/**
	 * 编辑页面
	 *
	 * CT: 2014-09-15 10:00 by RTH
	 * UT: 2014-09-17 10:00 by RTH
	 */
 ?>
<meta charset="UTF-8">
<h1>编辑配置</h1>

<form method="post" action="{:U('Config/edit')}">
    <table border="1" cellspacing="0" cellpadding="10">
        <tbody>
            <tr>
                <td>配置名称</td>
                <td>
                    <input type="text" name="key" size="100" value="{$info.key}"/>
                </td>
            </tr>
            <tr>
                <td>配置值</td>
                <td>
                    <input type="text" name="value" size="100" value="{$info.value}"/>
                </td>
            </tr>
            <tr>
                <td>配置描述</td>
                <td>
                    <input type="text" name="description" size="100" value="{$info.description}"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="hidden" name="guid" value="{$info.guid}">
                    <input type="submit" value="提交">
                    <input type="button" value="返回" onclick='javascript:location.href="{:U('Config/index')}";' />
                </td>
            </tr>
        </tbody>
    </table>
</form>