.bodybg {
	background-color: #ededf3;
	font-family:Microsoft Yahei;
	margin: 0;
}
body {
	background-color: #fff;
	font-family:Microsoft Yahei;
	margin: 0;
}
.f1 { font-size: 13px; color: #888;}
a.f1:hover,
a.f1:focus { color: #888; text-decoration: none;}
.f2 { font-size: 10px; color: #999;}
.main {
	background-color: #fff;
	border: 1px solid #c8c7cc;
	margin: 15px 8px;
	padding: 12px;
}
.mt20 { margin-top: 20px;}
.mb20 { margin-bottom: 20px;}
.mb40 { margin-bottom: 40px;}
.mt0 { margin-top: 0;}
.mb0 { margin-bottom: 0;}
.progress { margin-bottom: 0;}
.pding5 { padding-left: 5px; padding-right: 5px;}
.votemain {
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 1px solid #ededf3;
	border-bottom: 1px solid #ededf3;
}
.bar-green { background-color: #5cb85c;}
.bar-brown { background-color: #996600;}
.bar-cyan { background-color: #5bc0de;}
.bar-orange { background-color: #f0ad4e;}
.bar-red { background-color: #d9534f;}

.btn { padding: 6px 30px;}

.progress-bar,
.progress-bar[aria-valuenow="0"],
.progress-bar[aria-valuenow="1"],
.progress-bar[aria-valuenow="2"] {
	min-width: 20px;
}
img { max-width:100%; margin-bottom: 10px;}
i { color: #428bca;}
span.yunmaizan {
	position: relative;
	margin-top: 4px;
	width: 13px;
	height: 13px;
	display: block;
	cursor: pointer;
	background: url(../images/zan.png) no-repeat 0 0;
	text-indent: -9999em;
}
/*span.yunmaizan:hover,*/
/*span.yunmaizan:focus,*/
/*span.yunmaizan:active,*/
span.yunmaizan.active {
	background-position: 0 -13px;
}

.activity-vote-options {
	margin-left: -25px;
	margin-right: 10px;
	display: inline-block;
	float: left !important;
}

/*! 举报 */
.report-options {
	display: block;
	margin-bottom: 1px;
	padding: 0 20px;
	position: relative;
	background-color: #fff;
	font-weight: bold;
}
.report-options:hover,
.report-options:focus,
.report-options:active { background-color: #e3e2ec;}

.report-options label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
}

.report-input {
	padding: 6px 18px;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset
}
.report-input:focus {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 0 rgba(102, 175, 233, 0.6)
}