/*
 * Home 模块定制CSS
 * 
 * CT: 2014-10-11 16:50 by H
 */

.table > tbody > tr.notification-tr > td {
  border-bottom: 1px solid #ddd;
}
.table > tbody > tr > td {
  line-height: 2;
  padding-top: 15px;
  padding-bottom: 15px;
}
.table > tbody > tr > td.timealine {
  line-height: 1;
}

.table > thead > tr > td.wh520,
.table > tbody > tr > td.wh520 {
  width: 520px;
  padding-left: 30px;
}
.table > thead > tr > td.wh180,
.table > tbody > tr > td.wh180 {
  width: 180px;
}
.table > thead > tr > td.wh98,
.table > tbody > tr > td.wh98 {
  width: 98px;
}

.table > thead > tr > td.wh400,
.table > tbody > tr > td.wh400 {
  width: 400px;
  padding-left: 30px;
}
.table > thead > tr > td.wh70,
.table > tbody > tr > td.wh70 {
  width: 70px;
}
.table > thead > tr > td.wh160,
.table > tbody > tr > td.wh160 {
  width: 160px;
}


/*按钮*/
.notificationbtn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid #d3d5d9;
  padding: 0;
  cursor: pointer;
  display: block;
  width: 60px;
  height: 26px;
  border-radius: 0;
  color: #666666;
  background-color: #f5f5f5;
  margin-right: 10px;
  padding-top: 2px;
  margin-left: -10px;
}
.notificationbtn:active:hover,
.notificationbtn.active:focus {
  background-color: #19abd6;
}
.notificationbtn.active {
  color: #FFF;
  background-color: #43badd;
  border: 1px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.125) inset;
}
.notificationbtn:hover,
.notificationbtn:focus {
  color: #FFF;
  background-color: #43badd;
  border: 1px solid transparent;
}
.pding5 { padding: 5px;}