<include file="Article:style" />
<h2 class="page-header">
    <!--<a href="{:U('add')}" type="button" class="pull-right btn btn-default"><span class="glyphicon glyphicon-plus"></span> 创建社团</a>-->
    文章上传
</h2>
        <form method="post" id="add_form" name="add_form" action="<?php echo U('Article/article_add')?>">
            <div class="col-sm-8">
                <p class="col-sm-3">标题：</p>
                <input class="col-sm-5" type="text" id="title" name="title">
            </div><br>
            <div class="col-sm-8">
                <p class="col-sm-3">分类：</p>
                <select class="col-sm-5" name="SignGuid">
                    <option value="<?php echo $l?>"></option>
                    <?php foreach($ArticleSign as $k=>$l):?>
                        <option value="<?php echo $k;?>">
                            <?php if($k == 1){
                            echo $l['name'];
                            }?>
                        </option>
                    <?php endforeach;?>
                </select>
            </div><br>
            <div class="col-sm-12">
                <p class="col-sm-3">内容：</p>
                <textarea class="col-sm-12" id="add_content" name="add_content"></textarea><br>
            </div>
            <div class="col-sm-12 text-center">
                <div class="col-sm-3"></div>
                <button class="col-sm-2" type="submit">提交</button>
                <div class="col-sm-1"></div>
                <button class="col-sm-2" onclick="<?php echo U('Article/index');?>">返回</button>
            </div>
        </form>
