
<import type='css' file="common.css.bootstrap-datetimepicker#min" />
<import type='css' file="home.css.create-theme" />

<!-- Ueditor js 加载 -->
<import type='js' file="ueditor.ueditor#config" />
<import type='js' file="ueditor.ueditor#all#min" />

<!-- datetimepicker js 加载 -->
<import type='js' file="common.js.bootstrap-datetimepicker#min" />
<import type='js' file="common.js.locales.bootstrap-datetimepicker#zh-CN" />

<script type="text/javascript">
    $(document).ready(function(){

        var ue = UE.getEditor('add_content',{
            initialFrameHeight:450,
            serverUrl : "{:U('Common/ueditor')}"
        });

        //表单验证
        $('#add_form').validate({
            errorPlacement: function(error, element){
                element.parent().next('.tishinr').html(error);
            },
            rules: {
                name: {
                    required: true,
                    rangelength: [1,15]
                },
                mobile: {
                    required: true,
                    isMobile: true
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {

                name: {
                    required: "申请人名字不能为空",
                    rangelength: "姓名不超过15字"
                },
                mobile: {
                    required: "手机号不能为空",
                    isMobile: "手机号输入不正确"
                },
                email: {
                    required: "邮箱不能为空",
                    email: "邮箱格式不对"
                }
            }
        });
    });
</script>