<!DOCTYPE html>
<import type='js' file="admin.js.orgIndex" />
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2 class="page-header">
        <!--<a href="{:U('add')}" type="button" class="pull-right btn btn-default"><span class="glyphicon glyphicon-plus"></span> 创建社团</a>-->
        意见反馈
    </h2>
    <table class="table table-bordered">
        <tr>
            <th>用户名</th>
            <th>创建时间</th>
            <th>简短内容</th>
            <th>查看</th>
        </tr>
        <?php foreach($list_opinion as $l):?>
            <tr>
                <td><?php echo $l['real_name'];?></td>
                <!--<td class="text-danger"><?php echo date('Y-m-d H:i',$l['created_at']);?></td>-->
                <td><?php echo date('Y-m-d H:i',$l['created_at']);?></td>
                <!--<td class="text-info"><?php echo mb_substr($l['content'],0,9,'utf-8');?>...</td>-->
                <td><?php echo mb_substr($l['content'],0,9,'utf-8');?>...</td>
                <td ><a href="<?php echo U('Opinion/content', array('opinion_guid'=>$l['guid']))?>"><i class="glyphicon glyphicon-search"></i></a></td>
            </tr>
        <?php endforeach; ?>
    </table>
    <?php echo $page;?>
</body>
</html>