<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title><?php echo ( isset($meta_title) ? $meta_title.' - ' : '' ) ?>云脉365</title>

    <!-- Mobile Specific
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <import type="css" file="common.font-awesome.css.font-awesome" />
    <import type="css" file="home.css.style" />
    <import type="css" file="home.css.boxed" />
    <import type="css" file="home.css.colors.green" />

    <!-- Java Script
    ================================================== -->
    <import type="js" file="home.js.jquery#min" />
    <import type="js" file="home.js.custom" />
    <import type="js" file="home.js.selectnav" />
    <import type="js" file="home.js.flexslider" />
    <import type="js" file="home.js.twitter" />
    <import type="js" file="home.js.tooltip" />
    <import type="js" file="home.js.effects" />
    <import type="js" file="home.js.fancybox" />
    <import type="js" file="home.js.carousel" />
    <import type="js" file="home.js.isotope" />


</head>
<body>

<!-- Wrapper Start -->
<div id="wrapper">


    <!-- Header
    ================================================== -->

    <!-- 960 Container -->
    <div class="container ie-dropdown-fix">

        <!-- Header -->
        <div id="header">

            <!-- Logo -->
            <div class="eight columns">
                <div id="logo">
                    <a href="#"><img src="__PUBLIC__/home/images/logo.png" alt="logo" /></a>
                    <div id="tagline">一个神奇的公司!</div>
                    <div class="clear"></div>
                </div>
            </div>

            <!-- Social / Contact -->
            <div class="eight columns">

                <!-- Social Icons -->
                <ul class="social-icons">
                    <li class=""><a href="#"></a></li>
                </ul>

                <div class="clear"></div>

                <!-- Contact Details -->
                <div id="contact-details">
                    <ul>
                        <li><i class="mini-ico-envelope"></i><a href="mailto:services@yunmai365.com">services@yunmai365.com</a></li>
                        <li><i class="mini-ico-user"></i>+86-22-58654945</li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- Header / End -->

        <!-- Navigation -->
        <div class="sixteen columns">

            <div id="navigation">
                <ul id="nav">

                    <li><a href="<?php echo U('Index/index')?>">首页</a></li>

                    <li><a href="<?php echo U('Index/about')?>">企业简介</a></li>

                    <li><a href="<?php echo U('News/index')?>">企业新闻</a></li>

                    <li><a href="javascript:void(0);">企业产品</a>
                        <ul>
                            <?php foreach($product_menu as $p): ?>
                            <li><a href="<?php echo U('Index/product', array('id' => $p['id']))?>"><?php echo $p['name']?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    </li>

                    <li><a href="<?php echo U('Index/employee')?>">公司招聘</a></li>
                    <li><a href="<?php echo U('Index/contact'); ?>">联系我们</a></li>

                </ul>

            </div>
            <div class="clear"></div>

        </div>
        <!-- Navigation / End -->

    </div>
    <!-- 960 Container / End -->


    <!-- Content
    ================================================== -->

    <!-- 960 Container -->
    {__CONTENT__}
    <!-- 960 Container / End -->

</div>
<!-- Wrapper / End -->


<!-- Footer
================================================== -->

<!-- Footer Start -->
<div id="footer">
    <!-- 960 Container -->
    <div class="container">

        <!-- About -->
        <div class="eight columns">
            <div class="footer-headline"><h4>关于我们</h4></div>
            <p>Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</p>
            <p>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem.</p>
        </div>

        <!-- Useful Links -->
        <div class="eight columns">
            <div class="footer-headline"><h4>联系我们</h4></div>
            <p>联系电话: +86-22-58654945</p>
            <p>电子邮箱: services@yunmai365.com</p>
            <p>联系地址: 天津市河东区十一经路78号 万隆太平洋大厦 1202室</p>
        </div>


        <!-- Footer / Bottom -->
        <div class="sixteen columns">
            <div id="footer-bottom">
                © Copyright 2014 Cloud Nexus 365. All rights reserved.
                <div id="scroll-top-top"><a href="#"></a></div>
            </div>
        </div>

    </div>
    <!-- 960 Container / End -->

</div>
<!-- Footer / End -->




</body>
</html>