<h2 class="page-header">
    联系我们
</h2>
<table class="table table-bordered">
    <tr>
        <th>创建时间</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>简短内容</th>
        <th>操作</th>
    </tr>
    <?php foreach($list as $l):?>
    <tr>
        <td><?php echo date('Y-m-d H:i',$l['created_at']);?></td>
        <td><?php echo $l['name'];?></td>
        <td><?php echo $l['email'];?></td>
        <td><?php echo $l['phone'];?></td>
        <td><?php echo (strlen($l['content']) > 30) ? mb_substr($l['content'],0,30,'utf-8').'...' : $l['content'];?></td>
        <td>
            <a href="<?php echo U('Contact/view', array('id'=>$l['id']))?>"><i class="glyphicon glyphicon-search"></i></a>
            <a href="<?php echo U('Contact/delete', array('id' => $l['id']));?>" onclick="return confirm('确实要删除吗？')"><i class="js-del glyphicon glyphicon-trash"></i></a>　
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php echo $page;?>