<import type='js' file="Admin.js.orgIndex" />

<h2 class="page-header">
    <a href="{:U('Task/flow_edit')}" type="button" class="pull-right btn btn-danger ml10"><span class="glyphicon glyphicon-plus"></span> 新增任务流</a>
    <a href="{:U('Task/index')}" type="button" class="pull-right btn btn-success"><span class="fa fa-tasks"></span> 任务管理</a>
            任务流管理
</h2>
<form id="form" method="post" action="<?php echo U('Upload/index')?>">
    <table border="1" cellspacing="0" cellpadding="10" class="table table-bordered">
        <thead>
        <tr>
            <td class="w80 tc">任务流编号</td>
            <td>任务数量</td>
            <td>状态</td>
            <td class="w120 tc">操作</td>
        </tr>
        </thead>

        <tbody>
        <notempty name="flow_list">
            <volist name="flow_list" id="vo">
                <tr>
                    <td>{$vo['id']}</td>
                    <td>{$vo['name']}</td>
                    <td><eq name="vo.is_del" value="1">关闭<else/>开启</eq></td>
                    <td><a href="<?php echo U('flow_edit',array('guid'=>$vo['guid']));?>"><i class="glyphicon glyphicon-search"></i></a></td>
                </tr>
            </volist>
            <else />
            <tr>
                <td colspan="4">记录没有找到！</td>
            </tr>
        </notempty>
        </tbody>
    </table>
    {$page}
</form>