<import type='js' file="Admin.js.orgIndex" />

<h2 class="page-header">
    <a class="js-creat-file pull-right btn btn-danger ml10" style="margin-left:10px;" type="button" href="{:U('Task/flow')}"><span class="fa fa-stack-overflow"></span> 任务流管理</a>
    <a href="{:U('Task/edit')}" type="button" class="pull-right btn btn-success"><span class="glyphicon glyphicon-plus"></span> 新增任务</a>
            任务管理
</h2>
<form id="form" method="post" action="<?php echo U('Upload/index')?>">
    <table border="1" cellspacing="0" cellpadding="10" class="table table-bordered">
        <thead>
        <tr>
            <td class="w80 tc">任务编号</td>
            <td>任务名称</td>
            <td>任务类型</td>
            <td>任务状态</td>
            <td class="w120 tc">操作</td>
        </tr>
        </thead>

        <tbody>
        <notempty name="task_list">
            <volist name="task_list" id="vo">
                <tr>
                    <td>{$vo['id']}</td>
                    <td>{$vo['name']}</td>
                    <td>
                        <switch name="vo.type">
                            <case value="1">普通</case>
                            <case value="2">日常</case>
                        </switch>
                    </td>
                    <td>
                         <switch name="vo.is_del">
                            <case value="0">开启</case>
                            <case value="1">关闭</case>
                        </switch>
                    </td>
                    <td><a href="<?php echo U('edit',array('guid'=>$vo['guid']));?>"><i class="glyphicon glyphicon-search"></i></a></td>
                </tr>
            </volist>
            <else />
            <tr>
                <td colspan="10">记录没有找到！</td>
            </tr>
        </notempty>
        </tbody>
    </table>
    {$page}
</form>