{__NOLAYOUT__}
<?php
/**
 * 社团帐号密码找回页
 *
 * CT: 2014-12-31 11:42 by RTH
 * CT: 2014-12-31 11:42 by RTH
*/
?>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>密码找回-<?php echo C('APP_NAME')?></title>
    <meta name="Keywords" content="社团邦,密码找回,社团联盟商会组织管理工具APP软件,成员管理,活动发布,票务,会签,yunmai365">
    <meta name="Description" content="社团邦，为社团联盟商会组织而生的互联网管理工具APP软件。一款高效的社团活动、交流、组织、管理工具">
    <meta name="Author" content="<?php echo C('APP_NAME')?>" />
    <link rel="shortcut icon" href="__PUBLIC__/common/images/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- CSS -->
    <import type='css' file="common.bootstrap.css.bootstrap#min" />
    <import type='css' file="home.css.auth" />

    <!-- JS -->
    <import type='js' file="common.js.jquery" />
    <import type='js' file="common.bootstrap.js.bootstrap#min" />
    <import type='js' file="common.js.jquery#validate" />
    <import type='js' file="common.js.common" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bodybg">
<div class="loginwrongtop">
      <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="<?php echo PUBLIC_URL?>/home/images/logoiph-w.png" alt="社团邦" class="" />
            </div>
            <div class="col-xs-8">
                <div class="pull-right toptext">
                    <a href="http://www.yunmai365.com/" title="<?php echo C('APP_NAME')?>"><?php echo C('APP_NAME')?></a> |
                    <a href="<?php echo U('Home/Auth/register', '', true, true); ?>" title="社团注册">社团注册</a> |
                    <a href="<?php echo U('Home/Auth/login', '', true, true); ?>" title="社团登录">社团登录</a> |
                    <a href="<?php echo U('Member/Auth/login', '', true, true); ?>" title="个人中心">个人中心</a><!--  |
                    <a href="javascript:void(0);" onclick="window.location='http://www.yunmai365.com/Upload/ym/apk/yunmai.apk'" title="社团邦下载">社团邦下载</a> -->
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h1 class="h1-white" title="社团邦"><small>For the community </small><br>社团邦 | 社团管理平台</h1>
          <!-- <img src="<?php echo PUBLIC_URL?>/home/images/loginerror.png" alt="<?php echo C('APP_NAME')?> | 社团管理平台" class="" /> -->
        </div>
      </div>
    </div>
<?php $flash = get_flash_msg()?>
<?php if (!empty($flash['msg'])) :?>
<div id="login-alert" class="logintopwarning">
  <div class="container">
    <div class="logintopwarningwr">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <?php echo $flash['msg']?>
        <!--         <include file="Public:flash" /> -->
      </div>
    </div>
  </div>
</div>
<?php endif; ?>

<div class="container">
  <div class="form-horizontalwr">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3 class="page-header" title="社团邦密码找回">社团邦密码找回</h3>
        <p>为了您的账号安全，我们暂时不开放自助修改密码。请联系客服，人工找回您的密码，感谢您的支持！</p>
        <p>电话：022-58654945
        <br>QQ：550022365
        <br>邮箱：service#yunmai365.com <small>（如果你看到的是“#”请在发邮件时替换成“@”）</small>
        </p>
        <a href="<?php echo U('Auth/relogin'); ?>">返回登录</a>
      </div>
    </div>
  </div>
</div> <!-- /container -->

<div class="loginbottomwr">
    <div class="container">
        <p class="pull-right"><?php echo C('COPYRIGHT')?></p>
    </div>
</div>
<!-- End Save for Web Slices -->
</body>
</html>