<!-- Content
================================================== -->

<!-- 960 Container -->
<div class="container">

    <div class="sixteen columns">

        <!-- Page Title -->
        <div id="page-title">
            <h2>企业招聘</h2>
            <div id="bolded-line"></div>
        </div>
        <!-- Page Title / End -->

    </div>
</div>
<!-- 960 Container / End -->

<!-- 960 Container -->
<div class="container">

    <div class="twelve columns">


        <!-- Post -->
        <?php foreach($list as $l): ?>
            <div class="post">
                <a href="#" class="post-icon standard"></a>
                <div class="post-content">
                    <div class="post-title"><h2><a href="<?php echo U('News/view', array('id'=>$l['id']))?>"><?php echo $l['title']?></a></h2></div>
                    <div class="post-meta"><span><i class="mini-ico-calendar"></i><?php echo date('Y年m月d日 H:i', $l['updated_at'])?></span> <span><i class="mini-ico-user"></i>By <?php echo C('APP_NAME')?></span></div>
                    <div class="post-description">
                        <p><?php echo ylx_mb_substr($l['content'], '500'); ?></p>
                    </div>
                    <a class="post-entry" href="<?php echo U('News/view', array('id'=>$l['id']))?>">查看全部</a>
                </div>
            </div>
        <?php endforeach; ?>

        <?php echo $page; ?>

    </div>


    <!-- Widget
    ================================================== -->
    <div class="four columns">

        <!-- Popular Posts -->
        <div class="widget first">
            <div class="headline no-margin"><h4>最新新闻</h4></div>

            <?php foreach($last_news as $n): ?>
                <div class="latest-post-blog" style="min-height: 62px;">
                    <a href="#"><i class="fa fa-newspaper-o fa-2x" style="float: left;"></i></a>
                    <p style="margin-left: 35px;">
                        <a href="#"><?php echo ylx_mb_substr($n['title'], 50); ?></a> <span><?php echo date('Y年m月d日 H:i', $n['updated_at'])?></span></p>
                </div>
                <div class="clear"></div>
            <?php endforeach; ?>

        </div>

        <!-- Flickr -->
<!--        <div class="widget">-->
<!--            <div class="headline no-margin"><h4>Photo Stream</h4></div>-->
<!--            <div class="flickr-widget-blog">-->
<!--                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=36587311@N08"></script>-->
<!--                <div class="clearfix"></div>-->
<!--            </div>-->
<!--        </div>-->

    </div>

</div>