<div class="container">

    <!-- Flexslider -->
    <div class="sixteen columns">
        <section class="slider">
            <div class="flexslider home">
                <ul class="slides">
                    <?php foreach($top_pic as $p): ?>
                    <li>
                        <img src="<?php echo $p['path']; ?>" alt="" />
                        <div class="slide-caption">
                            <h3><?php echo $p['name']; ?></h3>
                            <p><?php echo $p['content']; ?></p>
                        </div>
                    </li>
                    <?php endforeach; ?>

                </ul>
            </div>
        </section>
    </div>
    <!-- Flexslider / End -->

</div>
<!-- 960 Container / End -->

<!-- 960 Container -->
<div class="container">

    <!-- Icon Boxes -->
    <div class="icon-box-container">

        <!-- Icon Box Start -->
        <div class="one-third column">
            <div class="icon-box">
                <i class="ico-display" style="margin-left: -10px;"></i>
                <h3>Fresh &amp; Clean Design</h3>
                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
            </div>
        </div>
        <!-- Icon Box End -->

        <!-- Icon Box Start -->
        <div class="one-third column">
            <div class="icon-box">
                <i class="ico-cogwheel"></i>
                <h3>Easily Customization</h3>
                <p>Nam aliquam volutpat leo vel bibendum nunc elit purus, tempus pulvinare rhoncus egestas nibh volutpat leo.</p>
            </div>
        </div>
        <!-- Icon Box End -->

        <!-- Icon Box Start -->
        <div class="one-third column">
            <div class="icon-box">
                <i class="ico-iphone"></i>
                <h3>Fully Responsive</h3>
                <p>Fusce porttitor turpis quis molestie costant equat. Nam purus, tincidunt sedeat dapibus ugravida ut dui. Fusce et magna libero.</p>
            </div>
        </div>
        <!-- Icon Box End -->

    </div>
    <!-- Icon Boxes / End -->

</div>
<!-- 960 Container / End -->
<!-- 960 Container -->
<div class="container">

    <div class="sixteen columns">
        <!-- Headline -->
        <div class="headline no-margin"><h3>公司产品</h3></div>
    </div>

    <!-- Project -->
    <?php foreach($product as $p):?>
    <div class="eight columns">
        <div class="picture"><a href="single_project.html"><img src="<?php echo $p['photo']?>" alt=""/><div class="image-overlay-link"></div></a></div>
        <div class="item-description">
            <h5><a href="#"><?php echo $p['name']?></a></h5>
            <p><?php echo ylx_mb_substr($p['content'], 200)?></p>
        </div>
    </div>
    <?php endforeach; ?>
</div>
<!-- 960 Container / End -->

<!-- 960 Container -->
<div class="container">

    <div class="sixteen columns">
        <!-- Headline -->
        <div class="headline no-margin"><h3>最近资讯</h3></div>
    </div>

    <?php foreach($news as $n): ?>
    <div class="four columns" style="height: 135px;">
        <div class="item-description">
            <h5><a href="<?php echo U('News/view', array('id'=>$n['id']))?>">
                    <?php echo ylx_mb_substr($n['title'], 15)?>
                </a></h5>
            <p><?php echo ylx_mb_substr($n['content'], 100)?></p>
        </div>
    </div>
    <?php endforeach; ?>

</div>
<!-- 960 Container / End -->


<!-- 960 Container -->
<div class="container">
    <div class="sixteen columns">

        <!-- Headline -->
        <div class="headline no-margin"><h3>Our Clients</h3></div>

        <ul class="client-list">
            <li><img src="images/logo-01.png" alt=""/></li>
            <li><img src="images/logo-02.png" alt=""/></li>
            <li><img src="images/logo-03.png" alt=""/></li>
            <li><img src="images/logo-04.png" alt=""/></li>
            <li><img src="images/logo-05.png" alt=""/></li>
        </ul>

    </div>
</div>