<import type='css' file="home.css.notification-list" />

<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '消息管理',
    'list' => array(
        array('url'=>U('Notice/index'), 'v'=>'通知列表'),
        array('url'=>'', 'v'=>'通知详情')
    )
);
?>
<include file="Public:_breadcrumbs" />


<div class="ymnaw">
    <ul class="nav nav-tabs ymbtn" role="tablist">
        <li role="presentation">
            <a href="<?php echo U('Message/index')?>">消息列表</a>
        </li>
        <li role="presentation" class="active">
            <a href="<?php echo U('Notice/index')?>">通知列表</a>
        </li>
    </ul>
</div>
<!--rightmain-->
<div class="rightmain">
    <div class="btn-group width798 pdlf10">
        <div class="pull-right">
            <a href="<?php echo U('Notice/index')?>"><i class="fa fa-arrow-left"></i>通知列表</a>
        </div>
    </div>
    <div class="rightmain">
        <div class="row row0 mt20">
            <div class="pull-left width75">
                通知标题：
            </div>
            <div class="pull-left width675">
                <?php echo $info['name'] ?>
            </div>
        </div>
        <div class="row row0 mt20">
            <div class="pull-left width75">
                通知人员：
            </div>
            <div class="pull-left width200">
              <?php echo $group_name ?>
            </div>
        </div>
        <div class="row row0 mt20">
            <div class="pull-left width75">
                通知内容：
            </div>
            <div class="pull-left width675">
                <?php echo $info['content'] ?>
            </div>
        </div>

        <?php if ($info['status'] == 1): ?>
        <div class="row row0 mt20">
            <!--已发送时使用此时间颜色，无编辑按钮-->
            <div class="pull-left width75">
                发送时间：
            </div>
            <div class="pull-left width675">
                  <?php echo date('Y-m-d H:i', $info['updated_at']) ?>
            </div>
        </div>
        <?php endif; ?>

        <div class="row row0 mt20 mb30">
            <!--未发送时使用此时间颜色，有编辑按钮-->
            <div class="pull-left width75">
                状态：
            </div>
            <div class="pull-left width675">
                <nameb>
                    <?php echo ($info['status'] == 1)?'已发送':'未发送'; ?>
                </nameb>
            </div>
        </div>
        <div class="btn-group width675 mb40 ml75">
            <?php if ($info['status'] == 0): ?>
        	<button id="EditGuid" type="button"  class="btn mybtn active"  onclick="javascript:location.href='{:U('Notice/edit', array('guid'=>$info[guid]))}';" >
                编辑
            </button>
            <button id="DelGuid" type="button"  class="ym_del pull-right btn deletebtn"  url="{:U('Notice/del', array('guid'=>$info[guid]))}" >
                删除
            </button>
            <?php endif; ?>
        </div>
    </div>
</div>
<!--rightmain-->
