<import type='css' file="home.css.notification-list" />

<!-- 导入面包屑 -->
<?php
$breadcrumbs = array(
    'base' => '消息管理',
    'list' => array(
        array('url'=>'', 'v'=>'通知列表')
    )
);
?>
<include file="Public:_breadcrumbs" />


<div class="ymnaw">
    <ul class="nav nav-tabs ymbtn" role="tablist">
        <li role="presentation">
            <a href="<?php echo U('Message/index')?>">消息列表</a>
        </li>
        <li role="presentation" class="active">
            <a href="<?php echo U('Notice/index')?>">通知列表</a>
        </li>
    </ul>
</div>
<div class="rightmain">
    <div class="btn-group width798 pdlf10">
        <div class="pull-right">
            <a class="btn mybtn pding5" href="{:U('Notice/add')}"><i class="fa fa-plus"></i> 新建通知</a>
        </div>
    </div>
    <div class="table mt10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="wh520">
                        <name0>
                            通知标题
                        </name0>
                    </td>
                    <td class="wh180">
                        <a class="ml30">
                            <name0>
                                发送时间
                            </name0>
                        </a>
                    </td>
                    <td class="wh98">
                        <a class="ml12">
                            <name0>
                                操作
                            </name0>
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td class="wh520">
                                <a href="{:U('Notice/content', array('guid'=>$vo[guid]))}">
                                    <nameh>
                                        {$vo['name']}
                                    </nameh>
                                </a>
                            </td>
                            <td class="wh180">
                                <?php if ($vo['status']=='1'):?>
                                    <nameh>
                                        {$vo.updated_at|date='Y-m-d H:i:s',###}
                                    </nameh>
                                <?php endif; ?>
                            </td>
                            <td class="wh98">
                                <div class="ml12">
                                    <?php if ($vo['status'] == 1): ?>
                                    已发送
                                    <?php else : ?>
                                    <a class="btn notificationbtn" href="<?php echo U('Notice/send', array('guid'=>$vo['guid']));?>">发送</a>
                                    <?php endif;?>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <tr>
                        <td colspan="3">
                            您有0条记录.
                        </td>
                    </tr>
                </notempty>
            </tbody>
        </table>
    </div>
    <div class="btn-group mb40">
        <?php echo $page; ?>
    </div>
</div>
