
<h1>行业管理</h1>

<a href="{:U('Industry/add')}">新增</a><br><br>

<form id="form" method="post" action="{:U('Industry/batch')}">
    <input id="batch_act" type="hidden" name="batch_act" />
    <table border="1" cellspacing="0" cellpadding="10">
        <thead>
            <tr>
                <td><input type="checkbox" id="ckAll" /></td>
                <td class="w300 tc">行业名称</td>
                <td class="w80 tc">是否显示</td>
                <td>增加时间</td>
                <td>更新时间</td>
                <td class="w120 tc">操作</td>
            </tr>
        </thead>
        <tbody>
        <notempty name="list">
            <volist name="list" id="vo">
                <tr>
                    <td>                
                        <input class="checkbox" type="checkbox" name="ckguid[]" value="{$vo.guid}" />
                    </td>
                    <td>{$vo.name}</td>
                    <td><eq name="vo.is_show" value='1'>是<else />否</eq></td>
                    <td>{:date('Y-m-d H:i', $vo['created_at'])}</td>
                    <td>{:date('Y-m-d H:i', $vo['updated_at'])}</td>
                    <td>                
                        <a href="{:U('Industry/edit', array('guid'=>$vo[guid]))}">编辑</a> | <a class="del" val="{$vo.guid}" href="javascript:void(0);">删除</a>
                    </td>
                </tr>
            </volist>
            <tfoot>
                <tr>
                    <td colspan='10'><input class="batch_btn" act="del" type="button" value="删除"/></td>
                </tr>
            </tfoot>
        <else />
            <tr>
               <td colspan="10">记录没有找到！</td>
            </tr>
        </notempty>
        </tbody>
    </table>
    {$page}
</form>

<script type="text/javascript">
$(document).ready(function(){
    $('a.del').click(function(){
        if (confirm('确定要删除吗？')){
            var guid = $(this).attr('val');
            location.href="{:U('Industry/del')}/guid/"+guid+"";
        }
    });
    
    $('#ckAll').on('change', function(){
        $("input.checkbox").prop('checked', $(this).prop("checked"));
    });
    
    $('.batch_btn').click(function(){
    	var len = $('input.checkbox:checked').length;
    	if (len < 1){ alert('请选择要删除的行业。'); return false; }
    	if (confirm('确定要删除所选项吗？')){
	    	$('#batch_act').val($(this).attr('act'));
	    	$('form#form').submit();
    	}
    });
});
</script>