<?php
	/**
	 * 回复信息页面
	 *
	 * CT: 2014-09-29 11:00 by YLX
	 */
 ?>
{__NOLAYOUT__}



<include file="Public:iframe_files" />


  
  <div class="myformms2">
    <h4 class="color0">TO <nameo><?php echo $to_info['real_name']?></nameo></h4>
    <div><textarea id="to_content" class="form-control noresize radius0" rows="10"></textarea></div>
    <div class="btn-group buttons mt20">
      <button type="button" data-loading-text="发送中" id="to_send" class="btn mybtn active">发送</button>
      <button type="button"  onclick="$.closeBox();" id="to_cancel" class="btn mybtn" >取消</button>
      <div id="iframe-alert" class="prompt-success pull-right" role="alert" style="display: none;">
          消息发送成功, 您可再次发送, 或者<a href="javascript:void(0);" onclick="$.closeBox();"><strong>关闭对话框</strong></a>
      </div>
    </div>
  </div>

    <script type="text/javascript">
        $(document).ready(function(){
        	
        	$('#to_send').click(function(){
            	var to_content = $('#to_content').val();
            	var btn = $(this);
            	if (to_content == ''){
                	alert('消息内容不能为空.');return false;
            	}
            	$.ajax({
                    type: "POST",
                    url: "<?php echo U('Message/reply', array('to_guid'=>$to_info['guid']))?>",
                    data: { content: to_content},
                    dataType: "json",
                    beforeSend: function(){
                        $('#iframe-alert').hide();
                        $('.buttons').append('<i id="loading" class="fa fa-spinner fa-spin mt10"></i>');
                        btn.button('loading');
                    }, 
                    success: function(data){
                        if (data.status=='ok') {
                            $('#loading').remove();
                            $('#iframe-alert').show();
                            btn.button('reset');
                            $('#to_content').val('');
                        } else if (data.status=='ko') {
                              $('#loading').remove();
                         	  alert(data.msg);
                         	  btn.button('reset');
                        }
    
                   }
                });
        	});
        });
    </script>
