@charset "utf-8";
/*CSS Document*/

body {
  background-color: #fff;
  font-family:"Microsoft Yahei";
}
p { margin: 5px 15px;}
h3 { margin: 20px 15px 10px 15px; }
/*
 * 头部
 */
.yunmai-header {
  position: fixed;
  padding-top: 1px;
  z-index:900;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px 0 rgba(100, 100, 100, 0.2);
}
.top-center {margin-top:10px;}
.screen1 {
  color: #fff;
  background-color:#44bade;
}
.screen1 h3 { margin-top: 76px; color: #fff;}
.screen1 h4 { color: #afecff;}
.screen1-text { margin-bottom: -280px;}
.btn { font-size: 18px;}
.btn-download { margin-top: 10px; padding: 6px 20px;}

.indexbg { width: 100%; max-width: 720px; }
.btnimg { width: 100%; max-width: 60px;}
table {margin-top:40px; width:100%; }

.img2 {margin-top: -40px;}
.textWrapper { position: relative; z-index: 2; margin-top: 10px;}
.textWrapper.right { text-align: right;}

.screen2,
.screen4 { background-color: #fff;}
.screen3 { background-color: #f2f2f2;}
.footer { height: 90px; background-color: #999; color: #fff;}
.mesgsd { margin: 20px -15px;}