@CHARSET "UTF-8";
body {
  background-image:url(../images/bg.gif);
  background-color: #f4f4f4;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  line-height: 1.42857143;
}
.header {
  padding: 13px 0;
  margin-bottom: 15px;
  width: 100%;
  background-color: #fff;
  border-top: 4px solid #43badd;
  border-bottom: 1px solid #d9dadc;
}
.mt0 { margin-top: 0;}
li > a > label { cursor: pointer;}


.backindex { font-size: 24px; color: #888;}
/*去圆角*/
.radius0 { border-radius: 0;}
/*去row左右*/
.row0 { margin-left: 0; margin-right: 0;}
/*
 * 主体
 */
.main {
  background-color: #FFF;
  min-height: 360px;
}
.add-options {
  margin-top: 5px;
  margin-left: -20px;
  color: #f15e4c;
  font-size: 18px;
  font-weight: 700;
}

.verifyimg {
  height: 34px;
}
.input-verification { max-height: 34px; max-width: 160px;}
.page-header {clear: both; min-height: 30px;}
.helpful-hints { color: #c4c4c4;}
/*步骤*/
.reg-steps {
  margin-bottom: 30px;
  padding: 10px 30px;
  border-bottom: 1px solid #eee;
}
.reg-steps > .list-inline > li {
  padding-right: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #999;
}
.reg-steps > .list-inline > li.active {
  color: #000;
}
.reg-steps > .list-inline > li.active > i {
  background-color: #428bca;
  color: #fff;
}
.reg-steps > .list-inline > li > i {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  background-color: #999;
  border-radius: 50%;;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #fff;
}
@media (max-width: 768px) {
  .reg-steps {
    margin-bottom: 10px;
    padding: 10px 0;
  }
  .reg-steps > .list-inline > li {
    padding-right: 0;
    font-size: 14px;
  }
  .reg-steps > .list-inline > li > i {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
  }
}
.mobile-numb {
  margin-bottom: 0;
  padding-top: 7px;
}
/*zhuti*/
.main-form {
  max-width: 720px;
  margin: 0 auto;
}
.tishinr {
  padding: 5px;
  color: #d9534f;
  padding-left: 15px;
}
.tishinr.tishinr-success { color: #5cb85c;}
.fa-success { color: #5cb85c;}
.prompt { color: #999;}
.fa-exclamation-circle { color: #5bc0de;}
@media (min-width: 768px) {
  .tishinr { margin-left: -20px; }
  .fa-exclamation-circle,
  .fa-success { margin-left: 20px; }
}
.text-fill-suc {
  margin: 15px 0;
  text-align: center;
  font-size: 16px;
}

/*返回官网*/
.backtowebsite { margin-bottom: 40px;line-height: 24px;}

/*
 * footer
 */
.footer {
  margin-top: 20px;
  color: #999;
}