<import type='js' file="Admin.js.orgIndex" />

<h2 class="page-header">
    <?php if(!$app_status_info):?>
	<a href="<?php echo U('upload/upload');?>" type="button" class="pull-right btn btn-success"><span class="glyphicon glyphicon-plus"></span> 版本更新</a>
    <?php endif;?>
    APP版本更新
</h2>
<form id="form" method="post" action="<?php echo U('Upload/index')?>">
    <table border="1" cellspacing="0" cellpadding="10" class="table table-bordered">
        <thead>
        <tr>
            <td class="w80 tc">文件版本</td>
            <td>更新内容</td>
            <td>上传时间</td>
            <td>更新时间</td>
            <td>文件状态</td>
            <td class="w120 tc">文件操作</td>
        </tr>
        </thead>

        <tbody>
        <notempty name="app_upload_list">
            <volist name="app_upload_list" id="vo">
                <tr style="height: 30px;">
                    <td>{$vo['version']}</td>
                    <td><?php echo str_replace("&lt;br/&gt;","\n",$vo['content'])?></td>
                    <td>{:date('Y-m-d H:i', $vo['created_at'])}</td>
                    <td>{:date('Y-m-d H:i', $vo['updated_at'])}</td>
                    <td><?php echo ($vo['status'] == 0) ? '未发布' : '已发布'; ?></td>
                    <td>
                        <?php if($vo['status'] == 0){echo '<a href = "'.U('Upload/edit', array('guid'=>$vo[guid])).'" >编辑</a>';}?>
                    </td>
                </tr>
            </volist>
            <else />
            <tr>
                <td colspan="10">记录没有找到！</td>
            </tr>
        </notempty>
        </tbody>
    </table>
    {$page}
</form>


